# Phase 1 

### Preprocessing

In [1]:
import pandas as pd
import numpy as np
import os
import nltk
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
from nltk.stem import PorterStemmer

### Now load the pickle data into dataframes from the Output folder one directory above

In [2]:
def loadEverything():
    all_projects_bugreports = pd.read_pickle('Output/allBugReports.pickle')
    print("*** All Bug Reports are Loaded. ***")
    all_projects_source_codes = pd.read_pickle('Output/allSourceCodes.pickle')
    print("*** All Source Codes are Loaded. ***")
    return all_projects_bugreports, all_projects_source_codes

all_projects_bugreports, all_projects_source_codes = loadEverything()
display(all_projects_bugreports.iloc[0])
display(all_projects_source_codes.iloc[2])
display(all_projects_bugreports.iloc[0].name)
display(all_projects_source_codes.iloc[2].name)

*** All Bug Reports are Loaded. ***
*** All Source Codes are Loaded. ***

fix                  [org.apache.commons.collections.map.flat3map.j...
text                                                               NaN
fixdate                                            2006-07-18 22:02:11
summary              Flat3Map.Entry.setValue() overwrites other Ent...
description          Flat3Map&amp;apos;s Entry objects will overwri...
project                                                    COLLECTIONS
average_precision                                                    0
Name: 217, dtype: object

filename            \gitrepo\src\java\org\apache\commons\collectio...
unprocessed_code    /*\n *  Licensed to the Apache Software Founda...
project                                                   COLLECTIONS
Name: 2, dtype: object

'217'

2

In [3]:
# need to get the file names in the bug report an source code to be the same

# there is no index connection between bugreports index (.name) and the index of the source code
display(all_projects_bugreports.iloc[0].fix)
display(all_projects_source_codes.iloc[217].filename)

array(['org.apache.commons.collections.map.flat3map.java',
       'org.apache.commons.collections.map.testflat3map.java'],
      dtype='<U52')

'\\gitrepo\\src\\java\\org\\apache\\commons\\collections\\list\\transformedlist.java'

## Removing composite varaibles

In [4]:
import re
#remove next line characters:
def remove_new_lines(text):
#     return str(x).replace('\n', '').replace('*', '').replace('/', '').replace('\\','').replace('\t','')
    text = str(text)
    COMBINE_WHITE_SPACE = re.compile(r"(?a:\s+)")
    text = COMBINE_WHITE_SPACE.sub(' ', text)
    return text.replace('*', '').replace('/', '').replace('\\','')
    
# clean up the various white space and remove some *
def clean_new_lines_source_code(df):
    df.unprocessed_code = df.unprocessed_code.apply(remove_new_lines)
    return df

# clean up the description and summary, they will both be used for the query
def clean_new_lines_bug_report(df):
    df.summary = df.summary.apply(remove_new_lines)
    df['description'] = df['description'].astype('|S')
    df.description = df.description.apply(remove_new_lines)
    return df

# need to reformat the source code so it can be compared to the bug reports fix array
def format_sc_filename(x):
  
    x = x.split('apache')
    if len(x) != 2:
        x = x[0].split('springframework')
        if len(x) != 2:
            x = x[0].split('wildfly')
            if len(x) == 2:
                x = 'org.wildfly' + x[1]
        else:
             x = 'org.springframework' + x[1]
    else:
         x = 'org.apache' + x[1]
    if len(x) == 1:
        x = x[0]
   
    x = str(x).replace("\\",".")
    return x

# apply the fixes to the filename 
def clean_sc_filepath(df):
    df.filename = df.filename.apply(format_sc_filename)
    return df

In [5]:
#splitting composite words
def findCompositeWords(s):
    return ' '.join(re.findall('[A-Z][^A-Z]*', s))   


def clean_composite_source_code(df):
    df.unprocessed_code = df.unprocessed_code.apply(findCompositeWords)
    return df

def clean_composite_bug_report(df):
    df.summary = df.summary.apply(findCompositeWords)
    df.description = df.description.apply(findCompositeWords)
    return df

In [6]:
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

# add the Java key words to the stop words
java_keywords = ["abstract", "assert**","assert", "boolean", "break", "byte", "case", "catch", "char", "const", "continue", "default", "do", "double", "else", "enum", "enum****" "extends", "final", "finally", "for", "goto","goto*", "if", "implements", "import", "instanceof", "int","interface", "long", "native", "new", "package", "private", "protected", "public", "return", "short", "static", "strictfp**","strictfp", "super", "switch", "synchornized", "this", "throw", "throws", "transient", "try", "void", "volatile", "while"]
java_operators = ["+", "-", "*", "/", "%", "+=", "-=", "*=", "/=", "++", "--", "==", "!=", "<", ">", "<=", ">=", ".", "[", "]", "(",")", "!", "~","instanceof", "<<", ">>", ">>>", "&", "^", "|", "&&", "||", "?", ":", "^=", "%=", "<<=", ">>=", ">>>=", "&="]
stop = java_keywords + java_operators
STOP_WORDS = ENGLISH_STOP_WORDS.union(stop)
# STOP_WORDS

### Start working on TF-IDF and Cosine similarity calculations

In [7]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# clean up the unprocessed code column
def clean_source_df(df):
    df = clean_new_lines_source_code(df)
    df = clean_composite_source_code(df)
    df = clean_sc_filepath(df)
    return df

# add the summary and description together and clean the data
def clean_combine_bug_df(df):
    df = clean_new_lines_bug_report(df)
    df = clean_composite_bug_report(df)
    df["query"] = df["summary"] + df["description"]
    return df

# get clean versions of the dataframes
sc_df = clean_source_df(all_projects_source_codes)
br_df = clean_combine_bug_df(all_projects_bugreports)


# get a list of the projects 
print(sc_df.project.unique())
projects = sc_df.project.unique()

# group the data frames
# TODO ignore index here? Then maintain original index and concat the data frames
sc_grouped_df = sc_df.groupby(sc_df.project)
bg_grouped_df = br_df.groupby(br_df.project)

# example of getting a data frame for a single project
col_df = sc_grouped_df.get_group("COLLECTIONS")
display(col_df)

['COLLECTIONS' 'CONFIGURATION' 'IO' 'LANG' 'DATACMNS' 'DATAMONGO'
 'DATAREST' 'LDAP' 'SEC' 'SOCIALFB' 'SPR' 'ELY']

,filename,unprocessed_code,project
0,org.apache.commons.collections.arraystack.java,Licensed to the Apache Software Foundation ...,COLLECTIONS
1,org.apache.commons.collections.bag.java,Licensed to the Apache Software Foundation ...,COLLECTIONS
2,org.apache.commons.collections.bagutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS
3,org.apache.commons.collections.beanmap.java,Licensed to the Apache Software Foundation ...,COLLECTIONS
4,org.apache.commons.collections.bidimap.java,Licensed to the Apache Software Foundation ...,COLLECTIONS
...,...,...,...
471,org.apache.commons.collections.set.testtransfo...,Licensed to the Apache Software Foundation ...,COLLECTIONS
472,org.apache.commons.collections.set.testtypedse...,Licensed to the Apache Software Foundation ...,COLLECTIONS
473,org.apache.commons.collections.set.testtypedso...,Licensed to the Apache Software Foundation ...,COLLECTIONS
474,org.apache.commons.collections.set.testunmodif...,Licensed to the Apache Software Foundation ...,COLLECTIONS
475,org.apache.commons.collections.set.testunmodif...,Licensed to the Apache Software Foundation ...,COLLECTIONS

In [58]:
from sklearn.metrics.pairwise import cosine_similarity


def calculate_similarity(src_vect, query):
    cosSim = cosine_similarity(query, src_vect).flatten()
    return cosSim

# fit the vectorizer and transform data
def get_similarity(vect, src_vect, query_data):
    query = vect.transform(query_data)
    similarity = calculate_similarity(src_vect,query)
     
    return similarity

# remove the stem and stop words
# takes in an array of strings returns an array of strings
def stem_stop(text):
    stemmer = PorterStemmer()   #"english"
    text = text.split()
    text = [w for w in text if not w in STOP_WORDS]
    text = list(map(lambda x: stemmer.stem(x), text))
    text = ' '.join(text)
    text = text.strip()
    return text

# take in the source code df for a project and a signle query return scores
def generate_scores_list(source, query):
    scores_list = [] 
    # get a list of strings from the data frames to be vectorized
    source['unprocessed_code'] = source['unprocessed_code'].map(stem_stop)
    query["query"] = query["query"].map(stem_stop)
    query_str = query["query"].iloc[0]
     
    # fit a vectorizer to the data
    vect = TfidfVectorizer(min_df=1).fit(source['unprocessed_code'])
    src_vect = vect.transform(source['unprocessed_code'])
#     display(src_vect)
    
    #get the similarity scores for the bug reports    
    #iterate through the query
    for q in query["query"]:
        similarity = get_similarity(vect, src_vect, [q])
        scores_list.append(similarity)
        # some sort of data structure (dict) to collect the queries to add it to the dataframe later
#         display(similarity)
    return scores_list


def rank_sim_scores(scores):
    sim_scores = list()

#     print(len(scores)) # number of bug reports
    for score in scores:
        indicies = range(len(score))
#         print(len(score)) # number of source code files for this project
        scores_tuple = tuple(zip(score,indicies))
        sorted_tuple = sorted(scores_tuple, reverse = True)
#         display(sorted_tuple)
        sim_scores.append(sorted_tuple)
    
    return sim_scores

# look through the src data frame to find where the fix is. 
def get_fix_indexes(bug, src):
    fix_list = list()
    for fixes in bug["fix"]:
#         print(fixes)
        fix_sub=list()
        for fix in fixes:
#             print(fix)
            df = src[src["filename"].str.match(fix)]
            if(df.shape[0] != 0):
                fix_sub.append(df.index[0])
            else:
                fix_sub.append(-1)
#         print(fix_sub)
        fix_list.append(fix_sub)
#     print(fix_list)
    # this is a list of the indexes of the file where the fix was located
    return fix_list
        
        


    
def generate_all_scores():
    
    all_bugs = []
    all_src = []
    # iterate through the list of 12 projects
    for proj in projects:
        # create dataframes for each project
        src_df = sc_grouped_df.get_group(proj)
        bug_df = bg_grouped_df.get_group(proj).copy()
        
        # generate the scores list
        scores = generate_scores_list(src_df, bug_df)
    
        #append scores list to the bug dataframe
        bug_df["sim_vect"] = scores # the only way that the matrix is related to the src code 
                                    # is through the index.
        
        # Rank the source code files and know what file(s) the bug was in
        bug_df["ranked_sim"] = rank_sim_scores(scores)
        display(bug_df["ranked_sim"])
        # get list of where the fixes rank
        bug_df["fix_indexes"] = get_fix_indexes(bug_df, src_df)
        display(bug_df)
        #get location of the fix indexes within the ranked_sim
        
        # CALCULATE THE MAP AND MRR HERE WITH A FUNCTION AND ADD IT TO THE BUGS DATAFRAME
    
        
        # maintain a list of all the dataframes
        all_bugs.append(bug_df)
        all_src.append(src_df)
    # concatenate all the data frames in order    
    all_bug_df = pd.concat(all_bugs, ignore_index=True)
    all_src_df = pd.concat(all_src, ignore_index=True)
    return all_bug_df, all_src_df

## TODO list
- Figure out index of the top 20 in the bug sim_vect
- Figure out index of files where the fix was ( this is in the bug report )
- Calculate MAP and MRR for each
- Generate graphs and report on the findings

In [59]:
bugs, sources = generate_all_scores()

C:\Users\kfrie\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

id
217    [(0.4656718955142169, 222), (0.447279509685931...
214    [(0.10345136646680671, 3), (0.0880717932156749...
222    [(0.38644080002864695, 288), (0.37509355439192...
261    [(0.5591516607470604, 305), (0.503968358691063...
264    [(0.6582236412487737, 298), (0.643831204240897...
                             ...
577    [(0.12069235153633603, 109), (0.10860615800701...
580    [(0.23762779658622352, 137), (0.22792879438408...
583    [(0.0725756081794044, 60), (0.0442830912391032...
586    [(0.33840731012035485, 427), (0.32327573122239...
597    [(0.2173144095633128, 303), (0.194166721215988...
Name: ranked_sim, Length: 92, dtype: object

,fix,text,fixdate,summary,description,project,average_precision,query,sim_vect,ranked_sim,fix_indexes
id,,,,,,,,,,,
217,[org.apache.commons.collections.map.flat3map.j...,NaN,2006-07-18 22:02:11,Flat3 Map. Entry.set Value() overwrites other ...,Flat3 Map&amp;apos;s Entry objects will overw...,COLLECTIONS,0.0,flat3 map. entry.set value() overwrit entri va...,"[0.058548134080555064, 0.08970216513375899, 0....","[(0.4656718955142169, 222), (0.447279509685931...","[233, 436]"
214,[org.apache.commons.collections.testextendedpr...,NaN,2006-07-18 22:44:33,Extended Properties - field include should be ...,"The field ""include"" in Extended Properties is...",COLLECTIONS,0.0,extend properti field includ non-stat privatet...,"[0.013388795565578315, 0.028400683146419893, 0...","[(0.10345136646680671, 3), (0.0880717932156749...","[292, 22]"
222,[org.apache.commons.collections.testlistutils....,NaN,2006-08-18 19:01:22,Collection Utils remove All is actually retain...,"The remove All( Collection collection, Collec...",COLLECTIONS,0.0,collect util remov all actual retain allth rem...,"[0.04851850840676917, 0.16573102168998424, 0.0...","[(0.38644080002864695, 288), (0.37509355439192...","[303, 288, 15]"
261,[org.apache.commons.collections.map.flat3map.j...,NaN,2007-08-20 14:11:54,Flat3 Map.remove() does not return the correct...,Flat3 Map m = new Flat3 Map();n m.put( new I...,COLLECTIONS,0.0,flat3 map.remove() doe correct valu size 3flat...,"[0.03731537102786185, 0.046074298711050336, 0....","[(0.5591516607470604, 305), (0.503968358691063...","[233, 436]"
264,[org.apache.commons.collections.fasttreemap.java],NaN,2007-08-31 09:39:59,Fast Tree Map forgets the comparator,In line 359 and 582 of the current 3.2 release...,COLLECTIONS,0.0,fast tree map forget comparatorin line 359 582...,"[0.016509059582201484, 0.016813266781609673, 0...","[(0.6582236412487737, 298), (0.643831204240897...",[27]
...,...,...,...,...,...,...,...,...,...,...,...
577,[org.apache.commons.collections4.trie.patricia...,NaN,2015-09-28 09:45:19,Patricia Trie bugs when only a few bits change,"I have a bug report for you, for the class Ab...",COLLECTIONS,0.0,"patricia trie bug bit changei bug report you, ...","[0.0264495015828069, 0.06419356614392692, 0.00...","[(0.12069235153633603, 109), (0.10860615800701...",[-1]
580,[org.apache.commons.collections4.multimap.mult...,NaN,2015-11-21 10:02:58,Arbitrary remote code execution with Invoker ...,With Invoker Transformer serializable collect...,COLLECTIONS,0.0,arbitrari remot code execut invok transformerw...,"[0.05176015827563829, 0.11265190941103775, 0.0...","[(0.23762779658622352, 137), (0.22792879438408...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -..."
583,[org.apache.commons.collections4.multimap.mult...,NaN,2015-12-14 07:47:22,"J A V A serialization vulnerability "" C V E-20...",The vulnerability we are talking about is know...,COLLECTIONS,0.0,"J A V A serial vulner "" C V e-2015-4852"" commo...","[0.018726170213306553, 0.025489324635428728, 0...","[(0.0725756081794044, 60), (0.0442830912391032...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -..."
586,[org.apache.commons.collections4.trie.abstract...,NaN,2016-08-04 17:33:10,Patricia Trie prefix Map clear throws Null Po...,Clearing all entries of a prefix Map returned ...,COLLECTIONS,0.0,patricia trie prefix map clear null pointer ex...,"[0.022104950565093966, 0.0494487359380965, 0.0...","[(0.33840731012035485, 427), (0.32327573122239...","[-1, -1]"
597,[org.apache.commons.collections4.functors.catc...,NaN,2016-10-21 05:53:34,Correction of Javadoc for org.apache.commons....,Correct the javadoc for org.apache.commons.col...,COLLECTIONS,0.0,correct javadoc org.apache.commons.collections...,"[0.006723914146577608, 0.015170794223233025, 0...","[(0.2173144095633128, 303), (0.194166721215988...",[-1]

KeyboardInterrupt:

In [12]:
def findBugRanks(bug_vectors, source_codes):
    
    similarity_scores = []
    rank_indexs = []
    
    for project, vect, fixes in zip(bug_vectors['project'],bug_vectors['sim_vect'],bug_vectors['fix']): 
        
        code = sc_grouped_df.get_group(project)
        code = code['filename'].to_numpy()  ## find all code files pertaining to the bug reports project 
        
        z = [code for _,code in sorted(zip(vect,code),reverse=True)] ## sort the list of projects based on the similarity scores vector
        sorted_array = np.sort(vect)[::-1]
            
        for fix in fixes:
            try:
                index = z.index(fix)
                score = sorted_array[index]
                similarity_scores.append(score)
                rank_indexs.append(index)
                
                

            except:
                similarity_scores.append(fix)
                rank_indexs.append(-1)
                
    tup = zip(similarity_scores,rank_indexs) # zip the similarity scores along with the rank 
    
    return tup


tup = findBugRanks(bugs, sc_grouped_df)
tuple(tup)

((0.4472795096859311, 1),
 (0.2913655231050407, 25),
 (0.03209980879562304, 16),
 (0.0880717932156749, 1),
 (0.31912456699257075, 4),
 (0.38644080002864695, 0),
 (0.28046076214130816, 8),
 (0.21328436467544076, 29),
 (0.5039683586910633, 1),
 (0.6438312042408976, 1),
 (0.423608812618834, 1),
 (0.5026370609304508, 0),
 (0.21673040369631835, 16),
 (0.43031369493789906, 1),
 (0.4909623398612745, 0),
 (0.2512620370028016, 14),
 (0.4730434626385859, 1),
 (0.486343809828954, 0),
 (0.13743009617270954, 51),
 (0.36345491909775834, 91),
 (0.40301763571397675, 1),
 (0.501993096040347, 0),
 (0.3028765649566887, 7),
 ('org.apache.commons.collections.splitmap.abstractiterablegetmapdecorator.java',
  -1),
 ('org.apache.commons.collections.splitmap.testtransformedmap.java', -1),
 (0.14718196728468272, 10),
 (0.23501428756066586, 1),
 (0.17707827762462128, 5),
 (0.29015004202166644, 21),
 (0.34800929761560623, 2),
 (0.4398117899012724, 0),
 (0.2478632221663548, 7),
 (0.32635182109160366, 2),
 (0.35617884797505345, 3),
 (0.2721712310702989, 6),
 (0.5127001609375662, 0),
 (0.20233792795776498, 48),
 (0.262219909205407, 7),
 (0.17629423021461835, 72),
 (0.43701850233228967, 1),
 (0.41734372211996484, 2),
 (0.13330407294072227, 114),
 (0.25656590417658465, 10),
 (0.645494101769588, 0),
 (0.3182730881897686, 8),
 (0.47608432723991045, 1),
 (0.35280096842746533, 6),
 (0.6148458324429698, 0),
 (0.4395862484781757, 1),
 (0.3757087874746632, 62),
 (0.3922969362374947, 0),
 (0.5086855523835432, 0),
 (0.2970629756850994, 1),
 (0.3169830504048807, 0),
 (0.5929611176463654, 0),
 (0.41477595060481953, 0),
 (0.3412434321369087, 15),
 (0.5103182382071961, 0),
 (0.09005269831582555, 142),
 (0.4594271951493968, 1),
 (0.5958359494100187, 0),
 (0.2468134252588248, 11),
 (0.42224720298728297, 1),
 (0.5105658547367571, 0),
 (0.26669260039675324, 10),
 (0.31843649135526125, 3),
 (0.44289482002689284, 0),
 (0.26440837185786736, 6),
 (0.257845046769457, 53),
 (0.2250435312211843, 125),
 (0.5796777558652175, 0),
 (0.5293955186331188, 1),
 (0.46810400624250215, 5),
 (0.4561262475187346, 8),
 (0.2945173753949975, 20),
 (0.4773837835962509, 0),
 (0.34954103983566, 1),
 (0.21419724975818846, 0),
 (0.2065180080783933, 1),
 (0.5348520873528743, 0),
 (0.3093504311592929, 9),
 (0.5657041913600277, 9),
 (0.6484063521230187, 1),
 (0.28814101908764517, 1),
 (0.31706214150437634, 0),
 (0.6891924000779336, 2),
 (0.6716040527044574, 3),
 (0.6895008823335501, 1),
 (0.7149135356003574, 0),
 (0.3997040470545934, 0),
 (0.5527627300380925, 1),
 (0.43644128784472697, 7),
 (0.05503323166076521, 298),
 (0.2782776397500046, 1),
 (0.11834883030825497, 6),
 (0.4044031082194676, 2),
 (0.45740665635392264, 1),
 (0.33726326959448283, 3),
 (0.2514378286440972, 5),
 (0.3130051101441364, 4),
 (0.26762612187820095, 22),
 (0.49819898272689483, 0),
 (0.19969362986611316, 30),
 (0.5031815351113226, 0),
 (0.48674505946583474, 1),
 (0.45327643897362213, 0),
 (0.44718335741067994, 1),
 (0.12910913669816615, 56),
 (0.37632438384799394, 0),
 ('org.apache.commons.collections.comparators.transformingcomparatortest.java',
  -1),
 (0.3639633066514325, 1),
 ('org.apache.commons.collections.set.compositesettest.java', -1),
 ('org.apache.commons.collections.collection.compositecollectiontest.java',
  -1),
 ('org.apache.commons.collections.set.emptysetmutator.java', -1),
 (0.49991238061937615, 2),
 (0.6413907361798891, 1),
 ('org.apache.commons.collections4.list.setuniquelisttest.java', -1),
 ('org.apache.commons.collections4.list.setuniquelist.java', -1),
 ('org.apache.commons.collections.list.setuniquelisttest.java', -1),
 (0.2066720114316357, 3),
 ('org.apache.commons.collections4.map.multivaluemaptest.java', -1),
 ('org.apache.commons.collections4.map.multivaluemap.java', -1),
 (0.11847262116043407, 128),
 (0.10439659018309425, 135),
 (0.2699689216279748, 69),
 (0.03840276822468765, 211),
 (0.18925817296813147, 96),
 (0.23278427358731923, 78),
 (0.752522056402653, 0),
 (0.6474025933154588, 3),
 (0.1485769284895025, 112),
 (0.5015560073393459, 11),
 (0.20676929171253539, 90),
 (0.21333215382949197, 85),
 (0.24499205641806707, 74),
 (0.6667882361162438, 1),
 (0.2110307879214082, 87),
 (0.04978688233298602, 188),
 (0.37014505888718363, 42),
 (0.4924509057699866, 12),
 (0.12221846661387059, 124),
 ('org.apache.commons.collections4.map.flat3map.java', -1),
 ('org.apache.commons.collections4.functors.switchtransformer.java', -1),
 ('org.apache.commons.collections4.functors.switchclosure.java', -1),
 ('org.apache.commons.collections4.functors.chainedtransformer.java', -1),
 ('org.apache.commons.collections4.functors.chainedclosure.java', -1),
 ('org.apache.commons.collections4.functors.instantiatetransformer.java', -1),
 ('org.apache.commons.collections4.functors.invokertransformer.java', -1),
 ('org.apache.commons.collections4.bag.abstractmapbag.java', -1),
 ('org.apache.commons.collections4.map.transformedmap.java', -1),
 ('org.apache.commons.collections4.splitmaputilstest.java', -1),
 ('org.apache.commons.collections4.splitmap.transformedmaptest.java', -1),
 ('org.apache.commons.collections4.splitmap.transformedmap.java', -1),
 ('org.apache.commons.collections4.map.listorderedmap.java', -1),
 ('org.apache.commons.collections4.map.listorderedmaptest.java', -1),
 ('org.apache.commons.collections4.map.passiveexpiringmap.java', -1),
 ('org.apache.commons.collections4.map.passiveexpiringmaptest.java', -1),
 (0.17594719467209194, 4),
 (0.29113564529135955, 0),
 (0.1081223868317454, 14),
 ('org.apache.commons.collections4.collectionutilstest.java', -1),
 ('org.apache.commons.collections4.collectionutils.java', -1),
 ('org.apache.commons.collections4.collectionutilstest.java', -1),
 ('org.apache.commons.collections4.collectionutils.java', -1),
 ('org.apache.commons.collections4.trie.unmodifiabletrietest.java', -1),
 ('org.apache.commons.collections4.trie.unmodifiabletrie.java', -1),
 ('org.apache.commons.collections4.trieutilstest.java', -1),
 ('org.apache.commons.collections4.collection.unmodifiableboundedcollection.java',
  -1),
 ('org.apache.commons.collections4.collection.unmodifiableboundedcollectiontest.java',
  -1),
 ('org.apache.commons.collections4.multimap.java', -1),
 ('org.apache.commons.collections4.map.multivaluemaptest.java', -1),
 ('org.apache.commons.collections4.map.multivaluemap.java', -1),
 ('org.apache.commons.collections4.map.multikeymaptest.java', -1),
 ('org.apache.commons.collections4.map.multikeymap.java', -1),
 ('org.apache.commons.collections4.collectionutils.java', -1),
 ('org.apache.commons.collections4.comparatorutils.java', -1),
 ('org.apache.commons.collections4.set.listorderedset.java', -1),
 ('org.apache.commons.collections4.set.listorderedsettest.java', -1),
 ('org.apache.commons.collections4.maputils.java', -1),
 ('org.apache.commons.collections4.collectionutils.java', -1),
 ('org.apache.commons.collections4.bag.collectionbag.java', -1),
 ('org.apache.commons.collections4.maputils.java', -1),
 ('org.apache.commons.collections4.functors.chainedclosure.java', -1),
 ('org.apache.commons.collections4.functors.nonepredicate.java', -1),
 ('org.apache.commons.collections4.transformerutils.java', -1),
 ('org.apache.commons.collections4.functors.chainedtransformer.java', -1),
 ('org.apache.commons.collections4.predicateutils.java', -1),
 ('org.apache.commons.collections4.functors.allpredicate.java', -1),
 ('org.apache.commons.collections4.functors.onepredicate.java', -1),
 ('org.apache.commons.collections4.closureutils.java', -1),
 ('org.apache.commons.collections4.functors.functorutils.java', -1),
 ('org.apache.commons.collections4.functors.anypredicate.java', -1),
 ('org.apache.commons.collections4.trie.abstractpatriciatrie.java', -1),
 ('org.apache.commons.collections4.trie.patriciatrietest.java', -1),
 ('org.apache.commons.collections4.collection.abstractcollectiondecorator.java',
  -1),
 ('org.apache.commons.collections4.comparators.fixedordercomparator.java', -1),
 ('org.apache.commons.collections4.comparators.transformingcomparator.java',
  -1),
 ('org.apache.commons.collections4.comparators.transformingcomparatortest.java',
  -1),
 ('org.apache.commons.collections4.collectionutils.java', -1),
 ('org.apache.commons.collections4.multimap.abstractmultivaluedmap.java', -1),
 ('org.apache.commons.collections4.list.transformedlist.java', -1),
 ('org.apache.commons.collections4.set.predicatedset.java', -1),
 ('org.apache.commons.collections4.list.abstractlistdecorator.java', -1),
 ('org.apache.commons.collections4.multimap.abstractmultivaluedmaptest.java',
  -1),
 ('org.apache.commons.collections4.set.abstractsetdecorator.java', -1),
 ('org.apache.commons.collections4.bag.abstractbagdecorator.java', -1),
 ('org.apache.commons.collections4.queue.abstractqueuedecorator.java', -1),
 ('org.apache.commons.collections4.bidimap.abstractdualbidimap.java', -1),
 ('org.apache.commons.collections4.bag.predicatedbag.java', -1),
 ('org.apache.commons.collections4.set.transformedset.java', -1),
 ('org.apache.commons.collections4.list.predicatedlist.java', -1),
 ('org.apache.commons.collections4.bag.synchronizedbag.java', -1),
 ('org.apache.commons.collections4.bag.transformedbag.java', -1),
 ('org.apache.commons.collections4.collection.abstractcollectiondecorator.java',
  -1),
 ('org.apache.commons.collections4.collectionutils.java', -1),
 ('org.apache.commons.collections4.set.listorderedset.java', -1),
 ('org.apache.commons.collections4.set.listorderedsettest.java', -1),
 (0.336759054212257, 1),
 ('org.apache.commons.collections.set.listorderedsettest.java', -1),
 ('org.apache.commons.collections4.list.setuniquelisttest.java', -1),
 ('org.apache.commons.collections4.list.setuniquelist.java', -1),
 ('org.apache.commons.collections.list.setuniquelisttest.java', -1),
 (0.43667408046019135, 0),
 ('org.apache.commons.collections4.bag.treebagtest.java', -1),
 ('org.apache.commons.collections4.bag.treebag.java', -1),
 ('org.apache.commons.collections4.set.listorderedset.java', -1),
 ('org.apache.commons.collections4.iteratorutils.java', -1),
 ('org.apache.commons.collections4.iteratorutilstest.java', -1),
 ('org.apache.commons.collections4.set.listorderedsettest.java', -1),
 ('org.apache.commons.collections4.functors.anypredicate.java', -1),
 ('org.apache.commons.collections4.trie.unmodifiabletrie.java', -1),
 ('org.apache.commons.collections4.splitmap.transformedsplitmap.java', -1),
 ('org.apache.commons.collections4.collection.unmodifiableboundedcollectiontest.java',
  -1),
 ('org.apache.commons.collections4.map.unmodifiablesortedmap.java', -1),
 ('org.apache.commons.collections4.collection.unmodifiablecollectiontest.java',
  -1),
 ('org.apache.commons.collections4.map.predicatedmap.java', -1),
 ('org.apache.commons.collections4.list.unmodifiablelist.java', -1),
 ('org.apache.commons.collections4.iterators.pushbackiterator.java', -1),
 ('org.apache.commons.collections4.functors.functorutils.java', -1),
 ('org.apache.commons.collections4.predicateutilstest.java', -1),
 ('org.apache.commons.collections4.splitmap.abstractiterablegetmapdecorator.java',
  -1),
 ('org.apache.commons.collections4.collectionutilstest.java', -1),
 ('org.apache.commons.collections4.transformerutilstest.java', -1),
 ('org.apache.commons.collections4.collection.transformedcollection.java', -1),
 ('org.apache.commons.collections4.bag.abstractsortedbagdecorator.java', -1),
 ('org.apache.commons.collections4.list.fixedsizelist.java', -1),
 ('org.apache.commons.collections4.bag.unmodifiablebagtest.java', -1),
 ('org.apache.commons.collections4.iterators.abstractorderedmapiteratordecorator.java',
  -1),
 ('org.apache.commons.collections4.functors.allpredicate.java', -1),
 ('org.apache.commons.collections4.bidimap.unmodifiablebidimap.java', -1),
 ('org.apache.commons.collections4.multiset.abstractmultisetdecorator.java',
  -1),
 ('org.apache.commons.collections4.map.fixedsizemap.java', -1),
 ('org.apache.commons.collections4.map.unmodifiableorderedmap.java', -1),
 ('org.apache.commons.collections4.set.abstractsetdecorator.java', -1),
 ('org.apache.commons.collections4.map.passiveexpiringmaptest.java', -1),
 ('org.apache.commons.collections4.list.transformedlist.java', -1),
 ('org.apache.commons.collections4.bag.predicatedsortedbagtest.java', -1),
 ('org.apache.commons.collections4.functors.nonepredicate.java', -1),
 ('org.apache.commons.collections4.closureutilstest.java', -1),
 ('org.apache.commons.collections4.maputilstest.java', -1),
 ('org.apache.commons.collections4.functors.transformedpredicate.java', -1),
 ('org.apache.commons.collections4.set.unmodifiableset.java', -1),
 ('org.apache.commons.collections4.bag.abstractbagdecorator.java', -1),
 ('org.apache.commons.collections4.multimap.abstractmultivaluedmap.java', -1),
 ('org.apache.commons.collections4.queue.abstractqueuedecorator.java', -1),
 ('org.apache.commons.collections4.set.transformedsortedset.java', -1),
 ('org.apache.commons.collections4.trieutilstest.java', -1),
 ('org.apache.commons.collections4.functors.closuretransformer.java', -1),
 ('org.apache.commons.collections4.queue.predicatedqueue.java', -1),
 ('org.apache.commons.collections4.set.unmodifiablesortedset.java', -1),
 ('org.apache.commons.collections4.map.lazymap.java', -1),
 ('org.apache.commons.collections4.bag.unmodifiablesortedbag.java', -1),
 ('org.apache.commons.collections4.bidimap.unmodifiableorderedbidimap.java',
  -1),
 ('org.apache.commons.collections4.iterators.abstractuntypediteratordecorator.java',
  -1),
 ('org.apache.commons.collections4.collection.abstractcollectiondecorator.java',
  -1),
 ('org.apache.commons.collections4.setutilstest.java', -1),
 ('org.apache.commons.collections4.list.lazylist.java', -1),
 ('org.apache.commons.collections4.trieutils.java', -1),
 ('org.apache.commons.collections4.set.predicatedset.java', -1),
 ('org.apache.commons.collections4.set.transformednavigableset.java', -1),
 ('org.apache.commons.collections4.functors.switchclosure.java', -1),
 ('org.apache.commons.collections4.functors.andpredicate.java', -1),
 ('org.apache.commons.collections4.map.abstractorderedmapdecorator.java', -1),
 ('org.apache.commons.collections4.bag.predicatedbag.java', -1),
 ('org.apache.commons.collections4.iterators.unmodifiablelistiterator.java',
  -1),
 ('org.apache.commons.collections4.bag.collectionbag.java', -1),
 ('org.apache.commons.collections4.bidimap.abstractsortedbidimapdecorator.java',
  -1),
 ('org.apache.commons.collections4.bag.predicatedbagtest.java', -1),
 ('org.apache.commons.collections4.map.defaultedmap.java', -1),
 ('org.apache.commons.collections4.iterators.abstractiteratordecorator.java',
  -1),
 ('org.apache.commons.collections4.map.multikeymap.java', -1),
 ('org.apache.commons.collections4.iterators.abstractmapiteratordecorator.java',
  -1),
 ('org.apache.commons.collections4.factoryutilstest.java', -1),
 ('org.apache.commons.collections4.queue.unmodifiablequeue.java', -1),
 ('org.apache.commons.collections4.functors.abstractcompositepredicatetest.java',
  -1),
 ('org.apache.commons.collections4.functors.switchtransformer.java', -1),
 ('org.apache.commons.collections4.iterators.unmodifiablelistiteratortest.java',
  -1),
 ('org.apache.commons.collections4.functors.chainedclosure.java', -1),
 ('org.apache.commons.collections4.map.unmodifiablesortedmaptest.java', -1),
 ('org.apache.commons.collections4.functors.instantiatefactory.java', -1),
 ('org.apache.commons.collections4.iterators.nodelistiteratortest.java', -1),
 ('org.apache.commons.collections4.set.abstractnavigablesetdecorator.java',
  -1),
 ('org.apache.commons.collections4.collection.unmodifiablecollection.java',
  -1),
 ('org.apache.commons.collections4.set.unmodifiablenavigablesettest.java', -1),
 ('org.apache.commons.collections4.map.predicatedsortedmap.java', -1),
 ('org.apache.commons.collections4.bag.transformedsortedbag.java', -1),
 ('org.apache.commons.collections4.collection.unmodifiableboundedcollection.java',
  -1),
 ('org.apache.commons.collections4.bagutils.java', -1),
 ('org.apache.commons.collections4.iterators.unmodifiableiterator.java', -1),
 ('org.apache.commons.collections4.closureutils.java', -1),
 ('org.apache.commons.collections4.functors.nullisexceptionpredicate.java',
  -1),
 ('org.apache.commons.collections4.keyvalue.abstractmapentrydecorator.java',
  -1),
 ('org.apache.commons.collections4.collection.synchronizedcollection.java',
  -1),
 ('org.apache.commons.collections4.functors.notpredicate.java', -1),
 ('org.apache.commons.collections4.queueutilstest.java', -1),
 ('org.apache.commons.collections4.splitmaputils.java', -1),
 ('org.apache.commons.collections4.set.abstractsortedsetdecorator.java', -1),
 ('org.apache.commons.collections4.set.listorderedset.java', -1),
 ('org.apache.commons.collections4.map.lazysortedmaptest.java', -1),
 ('org.apache.commons.collections4.set.transformedset.java', -1),
 ('org.apache.commons.collections4.list.predicatedlist.java', -1),
 ('org.apache.commons.collections4.iterators.unmodifiableorderedmapiterator.java',
  -1),
 ('org.apache.commons.collections4.functors.transformerpredicate.java', -1),
 ('org.apache.commons.collections4.collectionutils.java', -1),
 ('org.apache.commons.collections4.list.growthlist.java', -1),
 ('org.apache.commons.collections4.factoryutils.java', -1),
 ('org.apache.commons.collections4.functors.instanceofpredicate.java', -1),
 ('org.apache.commons.collections4.list.setuniquelist.java', -1),
 ('org.apache.commons.collections4.transformerutils.java', -1),
 ('org.apache.commons.collections4.functors.nullisfalsepredicate.java', -1),
 ('org.apache.commons.collections4.bidimap.unmodifiableorderedbidimaptest.java',
  -1),
 ('org.apache.commons.collections4.functors.invokertransformer.java', -1),
 ('org.apache.commons.collections4.set.abstractserializablesetdecorator.java',
  -1),
 ('org.apache.commons.collections4.bag.predicatedsortedbag.java', -1),
 ('org.apache.commons.collections4.comparators.fixedordercomparator.java', -1),
 ('org.apache.commons.collections4.bag.collectionsortedbag.java', -1),
 ('org.apache.commons.collections4.set.unmodifiablesettest.java', -1),
 ('org.apache.commons.collections4.iterators.reverselistiterator.java', -1),
 ('org.apache.commons.collections4.bidimap.unmodifiablesortedbidimaptest.java',
  -1),
 ('org.apache.commons.collections4.bidimap.unmodifiablebidimaptest.java', -1),
 ('org.apache.commons.collections4.functors.chainedtransformer.java', -1),
 ('org.apache.commons.collections4.map.singletonmap.java', -1),
 ('org.apache.commons.collections4.map.fixedsizesortedmap.java', -1),
 ('org.apache.commons.collections4.set.predicatedsortedset.java', -1),
 ('org.apache.commons.collections4.maputils.java', -1),
 ('org.apache.commons.collections4.iterators.nodelistiterator.java', -1),
 ('org.apache.commons.collections4.listutilstest.java', -1),
 ('org.apache.commons.collections4.set.mapbackedset.java', -1),
 ('org.apache.commons.collections4.bag.transformedbag.java', -1),
 ('org.apache.commons.collections4.map.passiveexpiringmap.java', -1),
 ('org.apache.commons.collections4.set.unmodifiablesortedsettest.java', -1),
 ('org.apache.commons.collections4.bidimap.abstractorderedbidimapdecorator.java',
  -1),
 ('org.apache.commons.collections4.collection.predicatedcollection.java', -1),
 ('org.apache.commons.collections4.queue.unmodifiablequeuetest.java', -1),
 ('org.apache.commons.collections4.map.unmodifiableorderedmaptest.java', -1),
 ('org.apache.commons.collections4.map.abstractmapdecorator.java', -1),
 ('org.apache.commons.collections4.iterators.boundediterator.java', -1),
 ('org.apache.commons.collections4.map.unmodifiablemap.java', -1),
 ('org.apache.commons.collections4.map.unmodifiableentryset.java', -1),
 ('org.apache.commons.collections4.setutils.java', -1),
 ('org.apache.commons.collections4.queue.transformedqueue.java', -1),
 ('org.apache.commons.collections4.map.listorderedmap.java', -1),
 ('org.apache.commons.collections4.iterators.unmodifiablemapiterator.java',
  -1),

In [47]:
src = sc_grouped_df.get_group("COLLECTIONS")
bug = bg_grouped_df.get_group("COLLECTIONS")
count = 0
fix_list = list()
for fixes in bug["fix"]:
    print(fixes)
    fix_sub=list()
    for fix in fixes:
        print(fix)
        df = src[src["filename"].str.match(fix)]
        display(df)
        try:
            print(df.index[0])
            fix_sub.append(df.index[0])
        except:
            count += 1
            fix_sub.append(-1)
    print(fix_sub)
    fix_list.append(fix_sub)
print(fix_list)
print(count) # 328 missing
# this is a list of the indexes of the file where the fix was located

,fix,text,fixdate,summary,description,project,average_precision,query
id,,,,,,,,
217,[org.apache.commons.collections.map.flat3map.j...,NaN,2006-07-18 22:02:11,Flat3 Map. Entry.set Value() overwrites other ...,Flat3 Map&amp;apos;s Entry objects will overw...,COLLECTIONS,0.0,Flat3 Map. Entry.set Value() overwrites other ...
214,[org.apache.commons.collections.testextendedpr...,NaN,2006-07-18 22:44:33,Extended Properties - field include should be ...,"The field ""include"" in Extended Properties is...",COLLECTIONS,0.0,Extended Properties - field include should be ...
222,[org.apache.commons.collections.testlistutils....,NaN,2006-08-18 19:01:22,Collection Utils remove All is actually retain...,"The remove All( Collection collection, Collec...",COLLECTIONS,0.0,Collection Utils remove All is actually retain...
261,[org.apache.commons.collections.map.flat3map.j...,NaN,2007-08-20 14:11:54,Flat3 Map.remove() does not return the correct...,Flat3 Map m = new Flat3 Map();n m.put( new I...,COLLECTIONS,0.0,Flat3 Map.remove() does not return the correct...
264,[org.apache.commons.collections.fasttreemap.java],NaN,2007-08-31 09:39:59,Fast Tree Map forgets the comparator,In line 359 and 582 of the current 3.2 release...,COLLECTIONS,0.0,Fast Tree Map forgets the comparatorIn line 35...
...,...,...,...,...,...,...,...,...
577,[org.apache.commons.collections4.trie.patricia...,NaN,2015-09-28 09:45:19,Patricia Trie bugs when only a few bits change,"I have a bug report for you, for the class Ab...",COLLECTIONS,0.0,Patricia Trie bugs when only a few bits change...
580,[org.apache.commons.collections4.multimap.mult...,NaN,2015-11-21 10:02:58,Arbitrary remote code execution with Invoker ...,With Invoker Transformer serializable collect...,COLLECTIONS,0.0,Arbitrary remote code execution with Invoker ...
583,[org.apache.commons.collections4.multimap.mult...,NaN,2015-12-14 07:47:22,"J A V A serialization vulnerability "" C V E-20...",The vulnerability we are talking about is know...,COLLECTIONS,0.0,"J A V A serialization vulnerability "" C V E-20..."
586,[org.apache.commons.collections4.trie.abstract...,NaN,2016-08-04 17:33:10,Patricia Trie prefix Map clear throws Null Po...,Clearing all entries of a prefix Map returned ...,COLLECTIONS,0.0,Patricia Trie prefix Map clear throws Null Po...
597,[org.apache.commons.collections4.functors.catc...,NaN,2016-10-21 05:53:34,Correction of Javadoc for org.apache.commons....,Correct the javadoc for org.apache.commons.col...,COLLECTIONS,0.0,Correction of Javadoc for org.apache.commons....

['org.apache.commons.collections.map.flat3map.java'
 'org.apache.commons.collections.map.testflat3map.java']
org.apache.commons.collections.map.flat3map.java

,filename,unprocessed_code,project
233,org.apache.commons.collections.map.flat3map.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

233
org.apache.commons.collections.map.testflat3map.java

,filename,unprocessed_code,project
436,org.apache.commons.collections.map.testflat3ma...,Licensed to the Apache Software Foundation ...,COLLECTIONS

436
[233, 436]
['org.apache.commons.collections.testextendedproperties.java'
 'org.apache.commons.collections.extendedproperties.java']
org.apache.commons.collections.testextendedproperties.java

,filename,unprocessed_code,project
292,org.apache.commons.collections.testextendedpro...,Licensed to the Apache Software Foundation ...,COLLECTIONS

292
org.apache.commons.collections.extendedproperties.java

,filename,unprocessed_code,project
22,org.apache.commons.collections.extendedpropert...,Licensed to the Apache Software Foundation ...,COLLECTIONS

22
[292, 22]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.testcollectionutils.java'
 'org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.testcollectionutils.java

,filename,unprocessed_code,project
288,org.apache.commons.collections.testcollectionu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

288
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[303, 288, 15]
['org.apache.commons.collections.map.flat3map.java'
 'org.apache.commons.collections.map.testflat3map.java']
org.apache.commons.collections.map.flat3map.java

,filename,unprocessed_code,project
233,org.apache.commons.collections.map.flat3map.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

233
org.apache.commons.collections.map.testflat3map.java

,filename,unprocessed_code,project
436,org.apache.commons.collections.map.testflat3ma...,Licensed to the Apache Software Foundation ...,COLLECTIONS

436
[233, 436]
['org.apache.commons.collections.fasttreemap.java']
org.apache.commons.collections.fasttreemap.java

,filename,unprocessed_code,project
27,org.apache.commons.collections.fasttreemap.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

27
[27]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.testcollectionutils.java'
 'org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.testcollectionutils.java

,filename,unprocessed_code,project
288,org.apache.commons.collections.testcollectionu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

288
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[303, 288, 15]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.testcollectionutils.java'
 'org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.testcollectionutils.java

,filename,unprocessed_code,project
288,org.apache.commons.collections.testcollectionu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

288
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[303, 288, 15]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.testcollectionutils.java'
 'org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.testcollectionutils.java

,filename,unprocessed_code,project
288,org.apache.commons.collections.testcollectionu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

288
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[303, 288, 15]
['org.apache.commons.collections.map.abstractlinkedmap.java']
org.apache.commons.collections.map.abstractlinkedmap.java

,filename,unprocessed_code,project
223,org.apache.commons.collections.map.abstractlin...,Licensed to the Apache Software Foundation ...,COLLECTIONS

223
[223]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.testcollectionutils.java'
 'org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.testcollectionutils.java

,filename,unprocessed_code,project
288,org.apache.commons.collections.testcollectionu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

288
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[303, 288, 15]
['org.apache.commons.collections.splitmap.abstractiterablegetmapdecorator.java'
 'org.apache.commons.collections.splitmap.testtransformedmap.java']
org.apache.commons.collections.splitmap.abstractiterablegetmapdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections.splitmap.testtransformedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.testcollectionutils.java'
 'org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.testcollectionutils.java

,filename,unprocessed_code,project
288,org.apache.commons.collections.testcollectionu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

288
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[303, 288, 15]
['org.apache.commons.collections.iterators.testfilterlistiterator.java'
 'org.apache.commons.collections.iterators.filterlistiterator.java']
org.apache.commons.collections.iterators.testfilterlistiterator.java

,filename,unprocessed_code,project
387,org.apache.commons.collections.iterators.testf...,Licensed to the Apache Software Foundation ...,COLLECTIONS

387
org.apache.commons.collections.iterators.filterlistiterator.java

,filename,unprocessed_code,project
178,org.apache.commons.collections.iterators.filte...,Licensed to the Apache Software Foundation ...,COLLECTIONS

178
[387, 178]
['org.apache.commons.collections.iterators.collatingiterator.java'
 'org.apache.commons.collections.iterators.testcollatingiterator.java'
 'org.apache.commons.collections.comparators.comparablecomparator.java']
org.apache.commons.collections.iterators.collatingiterator.java

,filename,unprocessed_code,project
169,org.apache.commons.collections.iterators.colla...,Licensed to the Apache Software Foundation ...,COLLECTIONS

169
org.apache.commons.collections.iterators.testcollatingiterator.java

,filename,unprocessed_code,project
385,org.apache.commons.collections.iterators.testc...,Licensed to the Apache Software Foundation ...,COLLECTIONS

385
org.apache.commons.collections.comparators.comparablecomparator.java

,filename,unprocessed_code,project
108,org.apache.commons.collections.comparators.com...,Licensed to the Apache Software Foundation ...,COLLECTIONS

108
[169, 385, 108]
['org.apache.commons.collections.map.identitymap.java'
 'org.apache.commons.collections.map.abstracthashedmap.java'
 'org.apache.commons.collections.map.caseinsensitivemap.java'
 'org.apache.commons.collections.map.abstractlinkedmap.java'
 'org.apache.commons.collections.map.testhashedmap.java'
 'org.apache.commons.collections.map.testidentitymap.java'
 'org.apache.commons.collections.map.hashedmap.java'
 'org.apache.commons.collections.map.testcaseinsensitivemap.java'
 'org.apache.commons.collections.map.testlinkedmap.java'
 'org.apache.commons.collections.map.linkedmap.java']
org.apache.commons.collections.map.identitymap.java

,filename,unprocessed_code,project
235,org.apache.commons.collections.map.identitymap...,Licensed to the Apache Software Foundation ...,COLLECTIONS

235
org.apache.commons.collections.map.abstracthashedmap.java

,filename,unprocessed_code,project
221,org.apache.commons.collections.map.abstracthas...,Licensed to the Apache Software Foundation ...,COLLECTIONS

221
org.apache.commons.collections.map.caseinsensitivemap.java

,filename,unprocessed_code,project
228,org.apache.commons.collections.map.caseinsensi...,Licensed to the Apache Software Foundation ...,COLLECTIONS

228
org.apache.commons.collections.map.abstractlinkedmap.java

,filename,unprocessed_code,project
223,org.apache.commons.collections.map.abstractlin...,Licensed to the Apache Software Foundation ...,COLLECTIONS

223
org.apache.commons.collections.map.testhashedmap.java

,filename,unprocessed_code,project
437,org.apache.commons.collections.map.testhashedm...,Licensed to the Apache Software Foundation ...,COLLECTIONS

437
org.apache.commons.collections.map.testidentitymap.java

,filename,unprocessed_code,project
438,org.apache.commons.collections.map.testidentit...,Licensed to the Apache Software Foundation ...,COLLECTIONS

438
org.apache.commons.collections.map.hashedmap.java

,filename,unprocessed_code,project
234,org.apache.commons.collections.map.hashedmap.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

234
org.apache.commons.collections.map.testcaseinsensitivemap.java

,filename,unprocessed_code,project
431,org.apache.commons.collections.map.testcaseins...,Licensed to the Apache Software Foundation ...,COLLECTIONS

431
org.apache.commons.collections.map.testlinkedmap.java

,filename,unprocessed_code,project
441,org.apache.commons.collections.map.testlinkedm...,Licensed to the Apache Software Foundation ...,COLLECTIONS

441
org.apache.commons.collections.map.linkedmap.java

,filename,unprocessed_code,project
238,org.apache.commons.collections.map.linkedmap.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

238
[235, 221, 228, 223, 437, 438, 234, 431, 441, 238]
['org.apache.commons.collections.maputils.java']
org.apache.commons.collections.maputils.java

,filename,unprocessed_code,project
36,org.apache.commons.collections.maputils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

36
[36]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.testcollectionutils.java'
 'org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.testcollectionutils.java

,filename,unprocessed_code,project
288,org.apache.commons.collections.testcollectionu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

288
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[303, 288, 15]
['org.apache.commons.collections.functors.prototypefactory.java'
 'org.apache.commons.collections.factoryutils.java']
org.apache.commons.collections.functors.prototypefactory.java

,filename,unprocessed_code,project
152,org.apache.commons.collections.functors.protot...,Licensed to the Apache Software Foundation ...,COLLECTIONS

152
org.apache.commons.collections.factoryutils.java

,filename,unprocessed_code,project
24,org.apache.commons.collections.factoryutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

24
[152, 24]
['org.apache.commons.collections.transformerutils.java']
org.apache.commons.collections.transformerutils.java

,filename,unprocessed_code,project
57,org.apache.commons.collections.transformerutil...,Licensed to the Apache Software Foundation ...,COLLECTIONS

57
[57]
['org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[15]
['org.apache.commons.collections.maputils.java']
org.apache.commons.collections.maputils.java

,filename,unprocessed_code,project
36,org.apache.commons.collections.maputils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

36
[36]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.listutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.listutils.java

,filename,unprocessed_code,project
33,org.apache.commons.collections.listutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

33
[303, 33]
['org.apache.commons.collections.set.listorderedset.java']
org.apache.commons.collections.set.listorderedset.java

,filename,unprocessed_code,project
261,org.apache.commons.collections.set.listordered...,Licensed to the Apache Software Foundation ...,COLLECTIONS

261
[261]
['org.apache.commons.collections.set.listorderedset.java']
org.apache.commons.collections.set.listorderedset.java

,filename,unprocessed_code,project
261,org.apache.commons.collections.set.listordered...,Licensed to the Apache Software Foundation ...,COLLECTIONS

261
[261]
['org.apache.commons.collections.bidimap.abstractdualbidimap.java']
org.apache.commons.collections.bidimap.abstractdualbidimap.java

,filename,unprocessed_code,project
77,org.apache.commons.collections.bidimap.abstrac...,Licensed to the Apache Software Foundation ...,COLLECTIONS

77
[77]
['org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[15]
['org.apache.commons.collections.list.abstractlinkedlist.java']
org.apache.commons.collections.list.abstractlinkedlist.java

,filename,unprocessed_code,project
206,org.apache.commons.collections.list.abstractli...,Licensed to the Apache Software Foundation ...,COLLECTIONS

206
[206]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.testcollectionutils.java'
 'org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.testcollectionutils.java

,filename,unprocessed_code,project
288,org.apache.commons.collections.testcollectionu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

288
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[303, 288, 15]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.testcollectionutils.java'
 'org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.testcollectionutils.java

,filename,unprocessed_code,project
288,org.apache.commons.collections.testcollectionu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

288
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[303, 288, 15]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.testcollectionutils.java'
 'org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.testcollectionutils.java

,filename,unprocessed_code,project
288,org.apache.commons.collections.testcollectionu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

288
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[303, 288, 15]
['org.apache.commons.collections.map.abstractlinkedmap.java']
org.apache.commons.collections.map.abstractlinkedmap.java

,filename,unprocessed_code,project
223,org.apache.commons.collections.map.abstractlin...,Licensed to the Apache Software Foundation ...,COLLECTIONS

223
[223]
['org.apache.commons.collections.map.abstractlinkedmap.java']
org.apache.commons.collections.map.abstractlinkedmap.java

,filename,unprocessed_code,project
223,org.apache.commons.collections.map.abstractlin...,Licensed to the Apache Software Foundation ...,COLLECTIONS

223
[223]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.listutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.listutils.java

,filename,unprocessed_code,project
33,org.apache.commons.collections.listutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

33
[303, 33]
['org.apache.commons.collections.list.setuniquelist.java'
 'org.apache.commons.collections.list.testsetuniquelist.java']
org.apache.commons.collections.list.setuniquelist.java

,filename,unprocessed_code,project
215,org.apache.commons.collections.list.setuniquel...,Licensed to the Apache Software Foundation ...,COLLECTIONS

215
org.apache.commons.collections.list.testsetuniquelist.java

,filename,unprocessed_code,project
420,org.apache.commons.collections.list.testsetuni...,Licensed to the Apache Software Foundation ...,COLLECTIONS

420
[215, 420]
['org.apache.commons.collections.listutils.java']
org.apache.commons.collections.listutils.java

,filename,unprocessed_code,project
33,org.apache.commons.collections.listutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

33
[33]
['org.apache.commons.collections.map.testcaseinsensitivemap.java'
 'org.apache.commons.collections.map.caseinsensitivemap.java']
org.apache.commons.collections.map.testcaseinsensitivemap.java

,filename,unprocessed_code,project
431,org.apache.commons.collections.map.testcaseins...,Licensed to the Apache Software Foundation ...,COLLECTIONS

431
org.apache.commons.collections.map.caseinsensitivemap.java

,filename,unprocessed_code,project
228,org.apache.commons.collections.map.caseinsensi...,Licensed to the Apache Software Foundation ...,COLLECTIONS

228
[431, 228]
['org.apache.commons.collections.testextendedproperties.java'
 'org.apache.commons.collections.extendedproperties.java']
org.apache.commons.collections.testextendedproperties.java

,filename,unprocessed_code,project
292,org.apache.commons.collections.testextendedpro...,Licensed to the Apache Software Foundation ...,COLLECTIONS

292
org.apache.commons.collections.extendedproperties.java

,filename,unprocessed_code,project
22,org.apache.commons.collections.extendedpropert...,Licensed to the Apache Software Foundation ...,COLLECTIONS

22
[292, 22]
['org.apache.commons.collections.keyvalue.multikey.java'
 'org.apache.commons.collections.keyvalue.testmultikey.java']
org.apache.commons.collections.keyvalue.multikey.java

,filename,unprocessed_code,project
203,org.apache.commons.collections.keyvalue.multik...,Licensed to the Apache Software Foundation ...,COLLECTIONS

203
org.apache.commons.collections.keyvalue.testmultikey.java

,filename,unprocessed_code,project
409,org.apache.commons.collections.keyvalue.testmu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

409
[203, 409]
['org.apache.commons.collections.list.setuniquelist.java'
 'org.apache.commons.collections.list.testsetuniquelist.java']
org.apache.commons.collections.list.setuniquelist.java

,filename,unprocessed_code,project
215,org.apache.commons.collections.list.setuniquel...,Licensed to the Apache Software Foundation ...,COLLECTIONS

215
org.apache.commons.collections.list.testsetuniquelist.java

,filename,unprocessed_code,project
420,org.apache.commons.collections.list.testsetuni...,Licensed to the Apache Software Foundation ...,COLLECTIONS

420
[215, 420]
['org.apache.commons.collections.map.multivaluemap.java'
 'org.apache.commons.collections.map.testmultivaluemap.java']
org.apache.commons.collections.map.multivaluemap.java

,filename,unprocessed_code,project
242,org.apache.commons.collections.map.multivaluem...,Licensed to the Apache Software Foundation ...,COLLECTIONS

242
org.apache.commons.collections.map.testmultivaluemap.java

,filename,unprocessed_code,project
446,org.apache.commons.collections.map.testmultiva...,Licensed to the Apache Software Foundation ...,COLLECTIONS

446
[242, 446]
['org.apache.commons.collections.bag.testtreebag.java'
 'org.apache.commons.collections.testtreebag.java'
 'org.apache.commons.collections.bag.treebag.java'
 'org.apache.commons.collections.treebag.java']
org.apache.commons.collections.bag.testtreebag.java

,filename,unprocessed_code,project
325,org.apache.commons.collections.bag.testtreebag...,Licensed to the Apache Software Foundation ...,COLLECTIONS

325
org.apache.commons.collections.testtreebag.java

,filename,unprocessed_code,project
313,org.apache.commons.collections.testtreebag.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

313
org.apache.commons.collections.bag.treebag.java

,filename,unprocessed_code,project
71,org.apache.commons.collections.bag.treebag.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

71
org.apache.commons.collections.treebag.java

,filename,unprocessed_code,project
58,org.apache.commons.collections.treebag.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

58
[325, 313, 71, 58]
['org.apache.commons.collections.map.lrumap.java']
org.apache.commons.collections.map.lrumap.java

,filename,unprocessed_code,project
240,org.apache.commons.collections.map.lrumap.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

240
[240]
['org.apache.commons.collections.list.setuniquelist.java'
 'org.apache.commons.collections.list.testsetuniquelist.java']
org.apache.commons.collections.list.setuniquelist.java

,filename,unprocessed_code,project
215,org.apache.commons.collections.list.setuniquel...,Licensed to the Apache Software Foundation ...,COLLECTIONS

215
org.apache.commons.collections.list.testsetuniquelist.java

,filename,unprocessed_code,project
420,org.apache.commons.collections.list.testsetuni...,Licensed to the Apache Software Foundation ...,COLLECTIONS

420
[215, 420]
['org.apache.commons.collections.testextendedproperties.java'
 'org.apache.commons.collections.extendedproperties.java']
org.apache.commons.collections.testextendedproperties.java

,filename,unprocessed_code,project
292,org.apache.commons.collections.testextendedpro...,Licensed to the Apache Software Foundation ...,COLLECTIONS

292
org.apache.commons.collections.extendedproperties.java

,filename,unprocessed_code,project
22,org.apache.commons.collections.extendedpropert...,Licensed to the Apache Software Foundation ...,COLLECTIONS

22
[292, 22]
['org.apache.commons.collections.maputils.java']
org.apache.commons.collections.maputils.java

,filename,unprocessed_code,project
36,org.apache.commons.collections.maputils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

36
[36]
['org.apache.commons.collections.map.testcompositemap.java'
 'org.apache.commons.collections.set.testcompositeset.java'
 'org.apache.commons.collections.collection.compositecollection.java'
 'org.apache.commons.collections.map.compositemap.java'
 'org.apache.commons.collections.collection.testcompositecollection.java']
org.apache.commons.collections.map.testcompositemap.java

,filename,unprocessed_code,project
432,org.apache.commons.collections.map.testcomposi...,Licensed to the Apache Software Foundation ...,COLLECTIONS

432
org.apache.commons.collections.set.testcompositeset.java

,filename,unprocessed_code,project
461,org.apache.commons.collections.set.testcomposi...,Licensed to the Apache Software Foundation ...,COLLECTIONS

461
org.apache.commons.collections.collection.compositecollection.java

,filename,unprocessed_code,project
100,org.apache.commons.collections.collection.comp...,Licensed to the Apache Software Foundation ...,COLLECTIONS

100
org.apache.commons.collections.map.compositemap.java

,filename,unprocessed_code,project
229,org.apache.commons.collections.map.compositema...,Licensed to the Apache Software Foundation ...,COLLECTIONS

229
org.apache.commons.collections.collection.testcompositecollection.java

,filename,unprocessed_code,project
354,org.apache.commons.collections.collection.test...,Licensed to the Apache Software Foundation ...,COLLECTIONS

354
[432, 461, 100, 229, 354]
['org.apache.commons.collections.buffer.testunboundedfifobuffer.java'
 'org.apache.commons.collections.buffer.unboundedfifobuffer.java'
 'org.apache.commons.collections.abstracttestobject.java']
org.apache.commons.collections.buffer.testunboundedfifobuffer.java

,filename,unprocessed_code,project
350,org.apache.commons.collections.buffer.testunbo...,Licensed to the Apache Software Foundation ...,COLLECTIONS

350
org.apache.commons.collections.buffer.unboundedfifobuffer.java

,filename,unprocessed_code,project
96,org.apache.commons.collections.buffer.unbounde...,Licensed to the Apache Software Foundation ...,COLLECTIONS

96
org.apache.commons.collections.abstracttestobject.java

,filename,unprocessed_code,project
273,org.apache.commons.collections.abstracttestobj...,Licensed to the Apache Software Foundation ...,COLLECTIONS

273
[350, 96, 273]
['org.apache.commons.collections.map.multivaluemap.java'
 'org.apache.commons.collections.map.testmultivaluemap.java']
org.apache.commons.collections.map.multivaluemap.java

,filename,unprocessed_code,project
242,org.apache.commons.collections.map.multivaluem...,Licensed to the Apache Software Foundation ...,COLLECTIONS

242
org.apache.commons.collections.map.testmultivaluemap.java

,filename,unprocessed_code,project
446,org.apache.commons.collections.map.testmultiva...,Licensed to the Apache Software Foundation ...,COLLECTIONS

446
[242, 446]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.testcollectionutils.java'
 'org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.testcollectionutils.java

,filename,unprocessed_code,project
288,org.apache.commons.collections.testcollectionu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

288
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[303, 288, 15]
['org.apache.commons.collections.comparators.transformingcomparator.java'
 'org.apache.commons.collections.comparators.transformingcomparatortest.java'
 'org.apache.commons.collections.comparatorutils.java']
org.apache.commons.collections.comparators.transformingcomparator.java

,filename,unprocessed_code,project
113,org.apache.commons.collections.comparators.tra...,Licensed to the Apache Software Foundation ...,COLLECTIONS

113
org.apache.commons.collections.comparators.transformingcomparatortest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections.comparatorutils.java

,filename,unprocessed_code,project
16,org.apache.commons.collections.comparatorutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

16
[113, -1, 16]
['org.apache.commons.collections.set.compositesettest.java'
 'org.apache.commons.collections.collection.compositecollectiontest.java'
 'org.apache.commons.collections.set.emptysetmutator.java'
 'org.apache.commons.collections.collection.compositecollection.java'
 'org.apache.commons.collections.set.compositeset.java']
org.apache.commons.collections.set.compositesettest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections.collection.compositecollectiontest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections.set.emptysetmutator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections.collection.compositecollection.java

,filename,unprocessed_code,project
100,org.apache.commons.collections.collection.comp...,Licensed to the Apache Software Foundation ...,COLLECTIONS

100
org.apache.commons.collections.set.compositeset.java

,filename,unprocessed_code,project
260,org.apache.commons.collections.set.compositese...,Licensed to the Apache Software Foundation ...,COLLECTIONS

260
[-1, -1, -1, 100, 260]
['org.apache.commons.collections4.list.setuniquelisttest.java'
 'org.apache.commons.collections4.list.setuniquelist.java'
 'org.apache.commons.collections.list.setuniquelisttest.java'
 'org.apache.commons.collections.list.setuniquelist.java']
org.apache.commons.collections4.list.setuniquelisttest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.setuniquelist.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections.list.setuniquelisttest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections.list.setuniquelist.java

,filename,unprocessed_code,project
215,org.apache.commons.collections.list.setuniquel...,Licensed to the Apache Software Foundation ...,COLLECTIONS

215
[-1, -1, -1, 215]
['org.apache.commons.collections4.map.multivaluemaptest.java'
 'org.apache.commons.collections4.map.multivaluemap.java']
org.apache.commons.collections4.map.multivaluemaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.multivaluemap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections.bag.testtransformedbag.java'
 'org.apache.commons.collections.setutils.java'
 'org.apache.commons.collections.set.testtransformedset.java'
 'org.apache.commons.collections.bufferutils.java'
 'org.apache.commons.collections.bag.transformedsortedbag.java'
 'org.apache.commons.collections.bag.transformedbag.java'
 'org.apache.commons.collections.list.transformedlist.java'
 'org.apache.commons.collections.listutils.java'
 'org.apache.commons.collections.buffer.testtransformedbuffer.java'
 'org.apache.commons.collections.collection.transformedcollection.java'
 'org.apache.commons.collections.set.testtransformedsortedset.java'
 'org.apache.commons.collections.set.transformedsortedset.java'
 'org.apache.commons.collections.buffer.transformedbuffer.java'
 'org.apache.commons.collections.list.testtransformedlist.java'
 'org.apache.commons.collections.collectionutils.java'
 'org.apache.commons.collections.bagutils.java'
 'org.apache.commons.collections.set.transformedset.java'
 'org.apache.commons.collections.collection.testtransformedcollection.java'
 'org.apache.commons.collections.bag.testtransformedsortedbag.java']
org.apache.commons.collections.bag.testtransformedbag.java

,filename,unprocessed_code,project
323,org.apache.commons.collections.bag.testtransfo...,Licensed to the Apache Software Foundation ...,COLLECTIONS

323
org.apache.commons.collections.setutils.java

,filename,unprocessed_code,project
51,org.apache.commons.collections.setutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

51
org.apache.commons.collections.set.testtransformedset.java

,filename,unprocessed_code,project
470,org.apache.commons.collections.set.testtransfo...,Licensed to the Apache Software Foundation ...,COLLECTIONS

470
org.apache.commons.collections.bufferutils.java

,filename,unprocessed_code,project
12,org.apache.commons.collections.bufferutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

12
org.apache.commons.collections.bag.transformedsortedbag.java

,filename,unprocessed_code,project
70,org.apache.commons.collections.bag.transformed...,Licensed to the Apache Software Foundation ...,COLLECTIONS

70
org.apache.commons.collections.bag.transformedbag.java

,filename,unprocessed_code,project
69,org.apache.commons.collections.bag.transformed...,Licensed to the Apache Software Foundation ...,COLLECTIONS

69
org.apache.commons.collections.list.transformedlist.java

,filename,unprocessed_code,project
217,org.apache.commons.collections.list.transforme...,Licensed to the Apache Software Foundation ...,COLLECTIONS

217
org.apache.commons.collections.listutils.java

,filename,unprocessed_code,project
33,org.apache.commons.collections.listutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

33
org.apache.commons.collections.buffer.testtransformedbuffer.java

,filename,unprocessed_code,project
349,org.apache.commons.collections.buffer.testtran...,Licensed to the Apache Software Foundation ...,COLLECTIONS

349
org.apache.commons.collections.collection.transformedcollection.java

,filename,unprocessed_code,project
103,org.apache.commons.collections.collection.tran...,Licensed to the Apache Software Foundation ...,COLLECTIONS

103
org.apache.commons.collections.set.testtransformedsortedset.java

,filename,unprocessed_code,project
471,org.apache.commons.collections.set.testtransfo...,Licensed to the Apache Software Foundation ...,COLLECTIONS

471
org.apache.commons.collections.set.transformedsortedset.java

,filename,unprocessed_code,project
268,org.apache.commons.collections.set.transformed...,Licensed to the Apache Software Foundation ...,COLLECTIONS

268
org.apache.commons.collections.buffer.transformedbuffer.java

,filename,unprocessed_code,project
94,org.apache.commons.collections.buffer.transfor...,Licensed to the Apache Software Foundation ...,COLLECTIONS

94
org.apache.commons.collections.list.testtransformedlist.java

,filename,unprocessed_code,project
422,org.apache.commons.collections.list.testtransf...,Licensed to the Apache Software Foundation ...,COLLECTIONS

422
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
org.apache.commons.collections.bagutils.java

,filename,unprocessed_code,project
2,org.apache.commons.collections.bagutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

2
org.apache.commons.collections.set.transformedset.java

,filename,unprocessed_code,project
267,org.apache.commons.collections.set.transformed...,Licensed to the Apache Software Foundation ...,COLLECTIONS

267
org.apache.commons.collections.collection.testtransformedcollection.java

,filename,unprocessed_code,project
357,org.apache.commons.collections.collection.test...,Licensed to the Apache Software Foundation ...,COLLECTIONS

357
org.apache.commons.collections.bag.testtransformedsortedbag.java

,filename,unprocessed_code,project
324,org.apache.commons.collections.bag.testtransfo...,Licensed to the Apache Software Foundation ...,COLLECTIONS

324
[323, 51, 470, 12, 70, 69, 217, 33, 349, 103, 471, 268, 94, 422, 15, 2, 267, 357, 324]
['org.apache.commons.collections4.map.flat3map.java']
org.apache.commons.collections4.map.flat3map.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
['org.apache.commons.collections4.functors.switchtransformer.java'
 'org.apache.commons.collections4.functors.switchclosure.java'
 'org.apache.commons.collections4.functors.chainedtransformer.java'
 'org.apache.commons.collections4.functors.chainedclosure.java'
 'org.apache.commons.collections4.functors.instantiatetransformer.java'
 'org.apache.commons.collections4.functors.invokertransformer.java']
org.apache.commons.collections4.functors.switchtransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.switchclosure.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.chainedtransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.chainedclosure.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.instantiatetransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.invokertransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1, -1, -1, -1, -1]
['org.apache.commons.collections4.bag.abstractmapbag.java']
org.apache.commons.collections4.bag.abstractmapbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
['org.apache.commons.collections4.map.transformedmap.java'
 'org.apache.commons.collections4.splitmaputilstest.java'
 'org.apache.commons.collections4.splitmap.transformedmaptest.java'
 'org.apache.commons.collections4.splitmap.transformedmap.java']
org.apache.commons.collections4.map.transformedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.splitmaputilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.splitmap.transformedmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.splitmap.transformedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1, -1, -1]
['org.apache.commons.collections4.map.listorderedmap.java'
 'org.apache.commons.collections4.map.listorderedmaptest.java']
org.apache.commons.collections4.map.listorderedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.listorderedmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections4.map.passiveexpiringmap.java'
 'org.apache.commons.collections4.map.passiveexpiringmaptest.java']
org.apache.commons.collections4.map.passiveexpiringmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.passiveexpiringmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections.testlistutils.java'
 'org.apache.commons.collections.testcollectionutils.java'
 'org.apache.commons.collections.collectionutils.java']
org.apache.commons.collections.testlistutils.java

,filename,unprocessed_code,project
303,org.apache.commons.collections.testlistutils.java,Licensed to the Apache Software Foundation ...,COLLECTIONS

303
org.apache.commons.collections.testcollectionutils.java

,filename,unprocessed_code,project
288,org.apache.commons.collections.testcollectionu...,Licensed to the Apache Software Foundation ...,COLLECTIONS

288
org.apache.commons.collections.collectionutils.java

,filename,unprocessed_code,project
15,org.apache.commons.collections.collectionutils...,Licensed to the Apache Software Foundation ...,COLLECTIONS

15
[303, 288, 15]
['org.apache.commons.collections4.collectionutilstest.java'
 'org.apache.commons.collections4.collectionutils.java']
org.apache.commons.collections4.collectionutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collectionutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections4.collectionutilstest.java'
 'org.apache.commons.collections4.collectionutils.java']
org.apache.commons.collections4.collectionutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collectionutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections4.trie.unmodifiabletrietest.java'
 'org.apache.commons.collections4.trie.unmodifiabletrie.java'
 'org.apache.commons.collections4.trieutilstest.java']
org.apache.commons.collections4.trie.unmodifiabletrietest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.trie.unmodifiabletrie.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.trieutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1, -1]
['org.apache.commons.collections4.collection.unmodifiableboundedcollection.java'
 'org.apache.commons.collections4.collection.unmodifiableboundedcollectiontest.java']
org.apache.commons.collections4.collection.unmodifiableboundedcollection.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collection.unmodifiableboundedcollectiontest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections4.multimap.java'
 'org.apache.commons.collections4.map.multivaluemaptest.java'
 'org.apache.commons.collections4.map.multivaluemap.java']
org.apache.commons.collections4.multimap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.multivaluemaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.multivaluemap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1, -1]
['org.apache.commons.collections4.map.multikeymaptest.java'
 'org.apache.commons.collections4.map.multikeymap.java']
org.apache.commons.collections4.map.multikeymaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.multikeymap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections4.collectionutils.java']
org.apache.commons.collections4.collectionutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
['org.apache.commons.collections4.comparatorutils.java']
org.apache.commons.collections4.comparatorutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
['org.apache.commons.collections4.set.listorderedset.java'
 'org.apache.commons.collections4.set.listorderedsettest.java']
org.apache.commons.collections4.set.listorderedset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.listorderedsettest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections4.maputils.java']
org.apache.commons.collections4.maputils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
['org.apache.commons.collections4.collectionutils.java']
org.apache.commons.collections4.collectionutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
['org.apache.commons.collections4.bag.collectionbag.java']
org.apache.commons.collections4.bag.collectionbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
['org.apache.commons.collections4.maputils.java']
org.apache.commons.collections4.maputils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
['org.apache.commons.collections4.functors.chainedclosure.java'
 'org.apache.commons.collections4.functors.nonepredicate.java'
 'org.apache.commons.collections4.transformerutils.java'
 'org.apache.commons.collections4.functors.chainedtransformer.java'
 'org.apache.commons.collections4.predicateutils.java'
 'org.apache.commons.collections4.functors.allpredicate.java'
 'org.apache.commons.collections4.functors.onepredicate.java'
 'org.apache.commons.collections4.closureutils.java'
 'org.apache.commons.collections4.functors.functorutils.java'
 'org.apache.commons.collections4.functors.anypredicate.java']
org.apache.commons.collections4.functors.chainedclosure.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.nonepredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.transformerutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.chainedtransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.predicateutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.allpredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.onepredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.closureutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.functorutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.anypredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
['org.apache.commons.collections4.trie.abstractpatriciatrie.java'
 'org.apache.commons.collections4.trie.patriciatrietest.java']
org.apache.commons.collections4.trie.abstractpatriciatrie.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.trie.patriciatrietest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections4.collection.abstractcollectiondecorator.java'
 'org.apache.commons.collections4.comparators.fixedordercomparator.java'
 'org.apache.commons.collections4.comparators.transformingcomparator.java'
 'org.apache.commons.collections4.comparators.transformingcomparatortest.java']
org.apache.commons.collections4.collection.abstractcollectiondecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.comparators.fixedordercomparator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.comparators.transformingcomparator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.comparators.transformingcomparatortest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1, -1, -1]
['org.apache.commons.collections4.collectionutils.java']
org.apache.commons.collections4.collectionutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
['org.apache.commons.collections4.multimap.abstractmultivaluedmap.java'
 'org.apache.commons.collections4.list.transformedlist.java'
 'org.apache.commons.collections4.set.predicatedset.java'
 'org.apache.commons.collections4.list.abstractlistdecorator.java'
 'org.apache.commons.collections4.multimap.abstractmultivaluedmaptest.java'
 'org.apache.commons.collections4.set.abstractsetdecorator.java'
 'org.apache.commons.collections4.bag.abstractbagdecorator.java'
 'org.apache.commons.collections4.queue.abstractqueuedecorator.java'
 'org.apache.commons.collections4.bidimap.abstractdualbidimap.java'
 'org.apache.commons.collections4.bag.predicatedbag.java'
 'org.apache.commons.collections4.set.transformedset.java'
 'org.apache.commons.collections4.list.predicatedlist.java'
 'org.apache.commons.collections4.bag.synchronizedbag.java'
 'org.apache.commons.collections4.bag.transformedbag.java'
 'org.apache.commons.collections4.collection.abstractcollectiondecorator.java']
org.apache.commons.collections4.multimap.abstractmultivaluedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.transformedlist.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.predicatedset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.abstractlistdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.abstractmultivaluedmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.abstractsetdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.abstractbagdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.queue.abstractqueuedecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bidimap.abstractdualbidimap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.predicatedbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.transformedset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.predicatedlist.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.synchronizedbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.transformedbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collection.abstractcollectiondecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
['org.apache.commons.collections4.collectionutils.java']
org.apache.commons.collections4.collectionutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
['org.apache.commons.collections4.set.listorderedset.java'
 'org.apache.commons.collections4.set.listorderedsettest.java'
 'org.apache.commons.collections.set.listorderedset.java'
 'org.apache.commons.collections.set.listorderedsettest.java']
org.apache.commons.collections4.set.listorderedset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.listorderedsettest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections.set.listorderedset.java

,filename,unprocessed_code,project
261,org.apache.commons.collections.set.listordered...,Licensed to the Apache Software Foundation ...,COLLECTIONS

261
org.apache.commons.collections.set.listorderedsettest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1, 261, -1]
['org.apache.commons.collections4.list.setuniquelisttest.java'
 'org.apache.commons.collections4.list.setuniquelist.java'
 'org.apache.commons.collections.list.setuniquelisttest.java'
 'org.apache.commons.collections.list.setuniquelist.java']
org.apache.commons.collections4.list.setuniquelisttest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.setuniquelist.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections.list.setuniquelisttest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections.list.setuniquelist.java

,filename,unprocessed_code,project
215,org.apache.commons.collections.list.setuniquel...,Licensed to the Apache Software Foundation ...,COLLECTIONS

215
[-1, -1, -1, 215]
['org.apache.commons.collections4.bag.treebagtest.java'
 'org.apache.commons.collections4.bag.treebag.java']
org.apache.commons.collections4.bag.treebagtest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.treebag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections4.set.listorderedset.java']
org.apache.commons.collections4.set.listorderedset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
['org.apache.commons.collections4.iteratorutils.java'
 'org.apache.commons.collections4.iteratorutilstest.java']
org.apache.commons.collections4.iteratorutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iteratorutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections4.set.listorderedsettest.java'
 'org.apache.commons.collections4.functors.anypredicate.java'
 'org.apache.commons.collections4.trie.unmodifiabletrie.java'
 'org.apache.commons.collections4.splitmap.transformedsplitmap.java'
 'org.apache.commons.collections4.collection.unmodifiableboundedcollectiontest.java'
 'org.apache.commons.collections4.map.unmodifiablesortedmap.java'
 'org.apache.commons.collections4.collection.unmodifiablecollectiontest.java'
 'org.apache.commons.collections4.map.predicatedmap.java'
 'org.apache.commons.collections4.list.unmodifiablelist.java'
 'org.apache.commons.collections4.iterators.pushbackiterator.java'
 'org.apache.commons.collections4.functors.functorutils.java'
 'org.apache.commons.collections4.predicateutilstest.java'
 'org.apache.commons.collections4.splitmap.abstractiterablegetmapdecorator.java'
 'org.apache.commons.collections4.collectionutilstest.java'
 'org.apache.commons.collections4.transformerutilstest.java'
 'org.apache.commons.collections4.collection.transformedcollection.java'
 'org.apache.commons.collections4.bag.abstractsortedbagdecorator.java'
 'org.apache.commons.collections4.list.fixedsizelist.java'
 'org.apache.commons.collections4.bag.unmodifiablebagtest.java'
 'org.apache.commons.collections4.iterators.abstractorderedmapiteratordecorator.java'
 'org.apache.commons.collections4.functors.allpredicate.java'
 'org.apache.commons.collections4.bidimap.unmodifiablebidimap.java'
 'org.apache.commons.collections4.multiset.abstractmultisetdecorator.java'
 'org.apache.commons.collections4.map.fixedsizemap.java'
 'org.apache.commons.collections4.map.unmodifiableorderedmap.java'
 'org.apache.commons.collections4.set.abstractsetdecorator.java'
 'org.apache.commons.collections4.map.passiveexpiringmaptest.java'
 'org.apache.commons.collections4.list.transformedlist.java'
 'org.apache.commons.collections4.bag.predicatedsortedbagtest.java'
 'org.apache.commons.collections4.functors.nonepredicate.java'
 'org.apache.commons.collections4.closureutilstest.java'
 'org.apache.commons.collections4.maputilstest.java'
 'org.apache.commons.collections4.functors.transformedpredicate.java'
 'org.apache.commons.collections4.set.unmodifiableset.java'
 'org.apache.commons.collections4.bag.abstractbagdecorator.java'
 'org.apache.commons.collections4.multimap.abstractmultivaluedmap.java'
 'org.apache.commons.collections4.queue.abstractqueuedecorator.java'
 'org.apache.commons.collections4.set.transformedsortedset.java'
 'org.apache.commons.collections4.trieutilstest.java'
 'org.apache.commons.collections4.functors.closuretransformer.java'
 'org.apache.commons.collections4.queue.predicatedqueue.java'
 'org.apache.commons.collections4.set.unmodifiablesortedset.java'
 'org.apache.commons.collections4.map.lazymap.java'
 'org.apache.commons.collections4.bag.unmodifiablesortedbag.java'
 'org.apache.commons.collections4.bidimap.unmodifiableorderedbidimap.java'
 'org.apache.commons.collections4.iterators.abstractuntypediteratordecorator.java'
 'org.apache.commons.collections4.collection.abstractcollectiondecorator.java'
 'org.apache.commons.collections4.setutilstest.java'
 'org.apache.commons.collections4.list.lazylist.java'
 'org.apache.commons.collections4.trieutils.java'
 'org.apache.commons.collections4.set.predicatedset.java'
 'org.apache.commons.collections4.set.transformednavigableset.java'
 'org.apache.commons.collections4.functors.switchclosure.java'
 'org.apache.commons.collections4.functors.andpredicate.java'
 'org.apache.commons.collections4.map.abstractorderedmapdecorator.java'
 'org.apache.commons.collections4.bag.predicatedbag.java'
 'org.apache.commons.collections4.iterators.unmodifiablelistiterator.java'
 'org.apache.commons.collections4.bag.collectionbag.java'
 'org.apache.commons.collections4.bidimap.abstractsortedbidimapdecorator.java'
 'org.apache.commons.collections4.bag.predicatedbagtest.java'
 'org.apache.commons.collections4.map.defaultedmap.java'
 'org.apache.commons.collections4.iterators.abstractiteratordecorator.java'
 'org.apache.commons.collections4.map.multikeymap.java'
 'org.apache.commons.collections4.iterators.abstractmapiteratordecorator.java'
 'org.apache.commons.collections4.factoryutilstest.java'
 'org.apache.commons.collections4.queue.unmodifiablequeue.java'
 'org.apache.commons.collections4.functors.abstractcompositepredicatetest.java'
 'org.apache.commons.collections4.functors.switchtransformer.java'
 'org.apache.commons.collections4.iterators.unmodifiablelistiteratortest.java'
 'org.apache.commons.collections4.functors.chainedclosure.java'
 'org.apache.commons.collections4.map.unmodifiablesortedmaptest.java'
 'org.apache.commons.collections4.functors.instantiatefactory.java'
 'org.apache.commons.collections4.iterators.nodelistiteratortest.java'
 'org.apache.commons.collections4.set.abstractnavigablesetdecorator.java'
 'org.apache.commons.collections4.collection.unmodifiablecollection.java'
 'org.apache.commons.collections4.set.unmodifiablenavigablesettest.java'
 'org.apache.commons.collections4.map.predicatedsortedmap.java'
 'org.apache.commons.collections4.bag.transformedsortedbag.java'
 'org.apache.commons.collections4.collection.unmodifiableboundedcollection.java'
 'org.apache.commons.collections4.bagutils.java'
 'org.apache.commons.collections4.iterators.unmodifiableiterator.java'
 'org.apache.commons.collections4.closureutils.java'
 'org.apache.commons.collections4.functors.nullisexceptionpredicate.java'
 'org.apache.commons.collections4.keyvalue.abstractmapentrydecorator.java'
 'org.apache.commons.collections4.collection.synchronizedcollection.java'
 'org.apache.commons.collections4.functors.notpredicate.java'
 'org.apache.commons.collections4.queueutilstest.java'
 'org.apache.commons.collections4.splitmaputils.java'
 'org.apache.commons.collections4.set.abstractsortedsetdecorator.java'
 'org.apache.commons.collections4.set.listorderedset.java'
 'org.apache.commons.collections4.map.lazysortedmaptest.java'
 'org.apache.commons.collections4.set.transformedset.java'
 'org.apache.commons.collections4.list.predicatedlist.java'
 'org.apache.commons.collections4.iterators.unmodifiableorderedmapiterator.java'
 'org.apache.commons.collections4.functors.transformerpredicate.java'
 'org.apache.commons.collections4.collectionutils.java'
 'org.apache.commons.collections4.list.growthlist.java'
 'org.apache.commons.collections4.factoryutils.java'
 'org.apache.commons.collections4.functors.instanceofpredicate.java'
 'org.apache.commons.collections4.list.setuniquelist.java'
 'org.apache.commons.collections4.transformerutils.java'
 'org.apache.commons.collections4.functors.nullisfalsepredicate.java'
 'org.apache.commons.collections4.bidimap.unmodifiableorderedbidimaptest.java'
 'org.apache.commons.collections4.functors.invokertransformer.java'
 'org.apache.commons.collections4.set.abstractserializablesetdecorator.java'
 'org.apache.commons.collections4.bag.predicatedsortedbag.java'
 'org.apache.commons.collections4.comparators.fixedordercomparator.java'
 'org.apache.commons.collections4.bag.collectionsortedbag.java'
 'org.apache.commons.collections4.set.unmodifiablesettest.java'
 'org.apache.commons.collections4.iterators.reverselistiterator.java'
 'org.apache.commons.collections4.bidimap.unmodifiablesortedbidimaptest.java'
 'org.apache.commons.collections4.bidimap.unmodifiablebidimaptest.java'
 'org.apache.commons.collections4.functors.chainedtransformer.java'
 'org.apache.commons.collections4.map.singletonmap.java'
 'org.apache.commons.collections4.map.fixedsizesortedmap.java'
 'org.apache.commons.collections4.set.predicatedsortedset.java'
 'org.apache.commons.collections4.maputils.java'
 'org.apache.commons.collections4.iterators.nodelistiterator.java'
 'org.apache.commons.collections4.listutilstest.java'
 'org.apache.commons.collections4.set.mapbackedset.java'
 'org.apache.commons.collections4.bag.transformedbag.java'
 'org.apache.commons.collections4.map.passiveexpiringmap.java'
 'org.apache.commons.collections4.set.unmodifiablesortedsettest.java'
 'org.apache.commons.collections4.bidimap.abstractorderedbidimapdecorator.java'
 'org.apache.commons.collections4.collection.predicatedcollection.java'
 'org.apache.commons.collections4.queue.unmodifiablequeuetest.java'
 'org.apache.commons.collections4.map.unmodifiableorderedmaptest.java'
 'org.apache.commons.collections4.map.abstractmapdecorator.java'
 'org.apache.commons.collections4.iterators.boundediterator.java'
 'org.apache.commons.collections4.map.unmodifiablemap.java'
 'org.apache.commons.collections4.map.unmodifiableentryset.java'
 'org.apache.commons.collections4.setutils.java'
 'org.apache.commons.collections4.queue.transformedqueue.java'
 'org.apache.commons.collections4.map.listorderedmap.java'
 'org.apache.commons.collections4.iterators.unmodifiablemapiterator.java'
 'org.apache.commons.collections4.map.lazysortedmap.java'
 'org.apache.commons.collections4.bag.unmodifiablesortedbagtest.java'
 'org.apache.commons.collections4.bidimap.abstractbidimapdecorator.java'
 'org.apache.commons.collections4.listutils.java'
 'org.apache.commons.collections4.functors.onepredicate.java'
 'org.apache.commons.collections4.iterators.abstractlistiteratordecorator.java'
 'org.apache.commons.collections4.iterators.unmodifiableorderedmapiteratortest.java'
 'org.apache.commons.collections4.predicateutils.java'
 'org.apache.commons.collections4.queueutils.java'
 'org.apache.commons.collections4.map.transformedmap.java'
 'org.apache.commons.collections4.map.abstractsortedmapdecorator.java'
 'org.apache.commons.collections4.map.abstractinputcheckedmapdecorator.java'
 'org.apache.commons.collections4.list.unmodifiablelisttest.java'
 'org.apache.commons.collections4.list.abstractserializablelistdecorator.java'
 'org.apache.commons.collections4.map.transformedsortedmap.java'
 'org.apache.commons.collections4.functors.ifclosure.java'
 'org.apache.commons.collections4.functors.nullistruepredicate.java'
 'org.apache.commons.collections4.set.predicatednavigableset.java'
 'org.apache.commons.collections4.iteratorutils.java'
 'org.apache.commons.collections4.iterators.unmodifiableiteratortest.java'
 'org.apache.commons.collections4.functors.orpredicate.java'
 'org.apache.commons.collections4.trie.unmodifiabletrietest.java'
 'org.apache.commons.collections4.iterators.peekingiterator.java'
 'org.apache.commons.collections4.iterators.unmodifiablemapiteratortest.java'
 'org.apache.commons.collections4.functors.whileclosure.java'
 'org.apache.commons.collections4.functors.identitypredicate.java'
 'org.apache.commons.collections4.functors.iftransformer.java'
 'org.apache.commons.collections4.bag.synchronizedbag.java'
 'org.apache.commons.collections4.functors.instantiatetransformer.java'
 'org.apache.commons.collections4.list.abstractlistdecorator.java'
 'org.apache.commons.collections4.bag.synchronizedsortedbag.java'
 'org.apache.commons.collections4.map.unmodifiablemaptest.java'
 'org.apache.commons.collections4.bagutilstest.java'
 'org.apache.commons.collections4.bidimap.unmodifiablesortedbidimap.java'
 'org.apache.commons.collections4.functors.comparatorpredicate.java'
 'org.apache.commons.collections4.set.unmodifiablenavigableset.java'
 'org.apache.commons.collections4.functors.factorytransformer.java'

 'org.apache.commons.collections4.bag.unmodifiablebag.java']
org.apache.commons.collections4.set.listorderedsettest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.anypredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.trie.unmodifiabletrie.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.splitmap.transformedsplitmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collection.unmodifiableboundedcollectiontest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.unmodifiablesortedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collection.unmodifiablecollectiontest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.predicatedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.unmodifiablelist.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.pushbackiterator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.functorutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.predicateutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.splitmap.abstractiterablegetmapdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collectionutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.transformerutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collection.transformedcollection.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.abstractsortedbagdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.fixedsizelist.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.unmodifiablebagtest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.abstractorderedmapiteratordecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.allpredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bidimap.unmodifiablebidimap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multiset.abstractmultisetdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.fixedsizemap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.unmodifiableorderedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.abstractsetdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.passiveexpiringmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.transformedlist.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.predicatedsortedbagtest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.nonepredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.closureutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.maputilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.transformedpredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.unmodifiableset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.abstractbagdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.abstractmultivaluedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.queue.abstractqueuedecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.transformedsortedset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.trieutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.closuretransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.queue.predicatedqueue.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.unmodifiablesortedset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.lazymap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.unmodifiablesortedbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bidimap.unmodifiableorderedbidimap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.abstractuntypediteratordecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collection.abstractcollectiondecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.setutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.lazylist.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.trieutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.predicatedset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.transformednavigableset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.switchclosure.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.andpredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.abstractorderedmapdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.predicatedbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.unmodifiablelistiterator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.collectionbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bidimap.abstractsortedbidimapdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.predicatedbagtest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.defaultedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.abstractiteratordecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.multikeymap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.abstractmapiteratordecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.factoryutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.queue.unmodifiablequeue.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.abstractcompositepredicatetest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.switchtransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.unmodifiablelistiteratortest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.chainedclosure.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.unmodifiablesortedmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.instantiatefactory.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.nodelistiteratortest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.abstractnavigablesetdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collection.unmodifiablecollection.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.unmodifiablenavigablesettest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.predicatedsortedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.transformedsortedbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collection.unmodifiableboundedcollection.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bagutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.unmodifiableiterator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.closureutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.nullisexceptionpredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.keyvalue.abstractmapentrydecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collection.synchronizedcollection.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.notpredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.queueutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.splitmaputils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.abstractsortedsetdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.listorderedset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.lazysortedmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.transformedset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.predicatedlist.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.unmodifiableorderedmapiterator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.transformerpredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collectionutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.growthlist.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.factoryutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.instanceofpredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.setuniquelist.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.transformerutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.nullisfalsepredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bidimap.unmodifiableorderedbidimaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.invokertransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.abstractserializablesetdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.predicatedsortedbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.comparators.fixedordercomparator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.collectionsortedbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.unmodifiablesettest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.reverselistiterator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bidimap.unmodifiablesortedbidimaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bidimap.unmodifiablebidimaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.chainedtransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.singletonmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.fixedsizesortedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.predicatedsortedset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.maputils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.nodelistiterator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.listutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.mapbackedset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.transformedbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.passiveexpiringmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.unmodifiablesortedsettest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bidimap.abstractorderedbidimapdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.collection.predicatedcollection.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.queue.unmodifiablequeuetest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.unmodifiableorderedmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.abstractmapdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.boundediterator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.unmodifiablemap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.unmodifiableentryset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.setutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.queue.transformedqueue.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.listorderedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.unmodifiablemapiterator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.lazysortedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.unmodifiablesortedbagtest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bidimap.abstractbidimapdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.listutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.onepredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.abstractlistiteratordecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.unmodifiableorderedmapiteratortest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.predicateutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.queueutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.transformedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.abstractsortedmapdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.abstractinputcheckedmapdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.unmodifiablelisttest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.abstractserializablelistdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.transformedsortedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.ifclosure.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.nullistruepredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.predicatednavigableset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iteratorutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.unmodifiableiteratortest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.orpredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.trie.unmodifiabletrietest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.peekingiterator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.iterators.unmodifiablemapiteratortest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.whileclosure.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.identitypredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.iftransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.synchronizedbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.instantiatetransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.list.abstractlistdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.synchronizedsortedbag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.unmodifiablemaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bagutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bidimap.unmodifiablesortedbidimap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.comparatorpredicate.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.set.unmodifiablenavigableset.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.factorytransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.bag.unmodifiablebag.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
['org.apache.commons.collections4.keyvalue.multikeytest.java'
 'org.apache.commons.collections4.keyvalue.multikey.java']
org.apache.commons.collections4.keyvalue.multikeytest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.keyvalue.multikey.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections4.trie.patriciatrietest.java']
org.apache.commons.collections4.trie.patriciatrietest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
['org.apache.commons.collections4.multimap.multivaluedhashmap.java'
 'org.apache.commons.collections4.multimap.multivaluedhashmaptest.java'
 'org.apache.commons.collections4.multimap.transformedmultivaluedmaptest.java'
 'org.apache.commons.collections4.multimap.abstractmultivaluedmaptest.java'
 'org.apache.commons.collections4.multimap.abstractmultivaluedmapdecorator.java'
 'org.apache.commons.collections4.multimap.unmodifiablemultivaluedmaptest.java'
 'org.apache.commons.collections4.multimap.abstractsetvaluedmap.java'
 'org.apache.commons.collections4.multimap.abstractmultivaluedmap.java'
 'org.apache.commons.collections4.multimaputilstest.java'
 'org.apache.commons.collections4.multimap.transformedmultivaluedmap.java'
 'org.apache.commons.collections4.multimap.package-info.java'
 'org.apache.commons.collections4.multimap.abstractlistvaluedmap.java'
 'org.apache.commons.collections4.multimaputils.java'
 'org.apache.commons.collections4.transformerutils.java'
 'org.apache.commons.collections4.closureutils.java'
 'org.apache.commons.collections4.factoryutils.java'
 'org.apache.commons.collections4.map.multivaluemaptest.java'
 'org.apache.commons.collections4.map.multivaluemap.java'
 'org.apache.commons.collections4.factoryutilstest.java'
 'org.apache.commons.collections4.transformerutilstest.java'
 'org.apache.commons.collections4.functors.instantiatefactory.java'
 'org.apache.commons.collections4.functors.whileclosure.java'
 'org.apache.commons.collections4.functors.clonetransformer.java'
 'org.apache.commons.collections4.functors.forclosure.java'
 'org.apache.commons.collections4.functors.invokertransformer.java'
 'org.apache.commons.collections4.functors.prototypefactory.java'
 'org.apache.commons.collections4.functors.package-info.java'
 'org.apache.commons.collections4.functors.instantiatetransformer.java']
org.apache.commons.collections4.multimap.multivaluedhashmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.multivaluedhashmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.transformedmultivaluedmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.abstractmultivaluedmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.abstractmultivaluedmapdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.unmodifiablemultivaluedmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.abstractsetvaluedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.abstractmultivaluedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimaputilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.transformedmultivaluedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.package-info.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.abstractlistvaluedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimaputils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.transformerutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.closureutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.factoryutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.multivaluemaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.multivaluemap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.factoryutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.transformerutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.instantiatefactory.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.whileclosure.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.clonetransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.forclosure.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.invokertransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.prototypefactory.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.package-info.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.instantiatetransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
['org.apache.commons.collections4.multimap.multivaluedhashmap.java'
 'org.apache.commons.collections4.multimap.multivaluedhashmaptest.java'
 'org.apache.commons.collections4.multimap.transformedmultivaluedmaptest.java'
 'org.apache.commons.collections4.multimap.abstractmultivaluedmaptest.java'
 'org.apache.commons.collections4.multimap.abstractmultivaluedmapdecorator.java'
 'org.apache.commons.collections4.multimap.unmodifiablemultivaluedmaptest.java'
 'org.apache.commons.collections4.multimap.abstractsetvaluedmap.java'
 'org.apache.commons.collections4.multimap.abstractmultivaluedmap.java'
 'org.apache.commons.collections4.multimaputilstest.java'
 'org.apache.commons.collections4.multimap.transformedmultivaluedmap.java'
 'org.apache.commons.collections4.multimap.package-info.java'
 'org.apache.commons.collections4.multimap.abstractlistvaluedmap.java'
 'org.apache.commons.collections4.multimaputils.java'
 'org.apache.commons.collections4.transformerutils.java'
 'org.apache.commons.collections4.closureutils.java'
 'org.apache.commons.collections4.factoryutils.java'
 'org.apache.commons.collections4.map.multivaluemaptest.java'
 'org.apache.commons.collections4.map.multivaluemap.java'
 'org.apache.commons.collections4.factoryutilstest.java'
 'org.apache.commons.collections4.transformerutilstest.java'
 'org.apache.commons.collections4.functors.instantiatefactory.java'
 'org.apache.commons.collections4.functors.whileclosure.java'
 'org.apache.commons.collections4.functors.clonetransformer.java'
 'org.apache.commons.collections4.functors.forclosure.java'
 'org.apache.commons.collections4.functors.invokertransformer.java'
 'org.apache.commons.collections4.functors.prototypefactory.java'
 'org.apache.commons.collections4.functors.package-info.java'
 'org.apache.commons.collections4.functors.instantiatetransformer.java']
org.apache.commons.collections4.multimap.multivaluedhashmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.multivaluedhashmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.transformedmultivaluedmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.abstractmultivaluedmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.abstractmultivaluedmapdecorator.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.unmodifiablemultivaluedmaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.abstractsetvaluedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.abstractmultivaluedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimaputilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.transformedmultivaluedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.package-info.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimap.abstractlistvaluedmap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.multimaputils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.transformerutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.closureutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.factoryutils.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.multivaluemaptest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.map.multivaluemap.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.factoryutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.transformerutilstest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.instantiatefactory.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.whileclosure.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.clonetransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.forclosure.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.invokertransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.prototypefactory.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.package-info.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.functors.instantiatetransformer.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
['org.apache.commons.collections4.trie.abstractpatriciatrie.java'
 'org.apache.commons.collections4.trie.patriciatrietest.java']
org.apache.commons.collections4.trie.abstractpatriciatrie.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

org.apache.commons.collections4.trie.patriciatrietest.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1, -1]
['org.apache.commons.collections4.functors.catchandrethrowclosure.java']
org.apache.commons.collections4.functors.catchandrethrowclosure.java

Empty DataFrame
Columns: [filename, unprocessed_code, project]
Index: []

[-1]
[[233, 436], [292, 22], [303, 288, 15], [233, 436], [27], [303, 288, 15], [303, 288, 15], [303, 288, 15], [223], [303, 288, 15], [-1, -1], [303, 288, 15], [387, 178], [169, 385, 108], [235, 221, 228, 223, 437, 438, 234, 431, 441, 238], [36], [303, 288, 15], [152, 24], [57], [15], [36], [303, 33], [261], [261], [77], [15], [206], [303, 288, 15], [303, 288, 15], [303, 288, 15], [223], [223], [303, 33], [215, 420], [33], [431, 228], [292, 22], [203, 409], [215, 420], [242, 446], [325, 313, 71, 58], [240], [215, 420], [292, 22], [36], [432, 461, 100, 229, 354], [350, 96, 273], [242, 446], [303, 288, 15], [113, -1, 16], [-1, -1, -1, 100, 260], [-1, -1, -1, 215], [-1, -1], [323, 51, 470, 12, 70, 69, 217, 33, 349, 103, 471, 268, 94, 422, 15, 2, 267, 357, 324], [-1], [-1, -1, -1, -1, -1, -1], [-1], [-1, -1, -1, -1], [-1, -1], [-1, -1], [303, 288, 15], [-1, -1], [-1, -1], [-1, -1, -1], [-1, -1], [-1, -1, -1], [-1, -1], [-1], [-1], [-1, -1], [-1], [-1], [-1], [-1], [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1], [-1, -1], [-1, -1, -1, -1], [-1], [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1], [-1], [-1, -1, 261, -1], [-1, -1, -1, 215], [-1, -1], [-1], [-1, -1], [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1], [-1, -1], [-1], [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1], [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1], [-1, -1], [-1]]
328